@charset "utf-8";

/* (주)한신정보기술 박남규 - 2024.04 */

/* --------------- header 깨기 시작 --------------- */
.eng .header_box .search_form_box,
.eng .header_box .last_link_list .last_link_item:first-child,
.eng .header_last .last_link_list .last_link_item:first-child{display:none !important;}
@media all and (min-width:1835px){
    .eng .header_gnb .wrap{width:1834px;}
    .eng .header_box .wrap{width:1834px;}
    .eng .header_box .search_form_box{width:2116px;mask-size:100% auto;-webkit-mask-size:100% auto;}
    .eng .lnb .menu .depth1{width:1834px;}
    .eng .lnb .menu .depth1 .line_deco_box{left:calc((100% - 1834px) / 2);width:1834px;}
    .eng .lnb .menu .depth2{padding:0 calc((100% - 1834px) / 2);}
    .eng .header_last{right:calc((100% - 1834px) / 2);}
}
@media all and (min-width:1681px) and (max-width:1834px){
    .eng .header_gnb .wrap{width:1680px;}
    .eng .header_box .wrap{width:1680px;}
    .eng .header_box .search_form_box{width:1920px;mask-size:100% auto;-webkit-mask-size:100% auto;mask-image:url(../images/common/search_form_mask_type_white.png);-webkit-mask-image:url(../images/common/search_form_mask_type_white.png);}
    .eng .lnb .menu .depth1{width:1680px;}
    .eng .lnb .menu .depth1 .line_deco_box{left:calc((100% - 1680px) / 2);width:1680px;}
    .eng .lnb .menu .depth2{padding:0 calc((100% - 1680px) / 2);}
    .eng .header_last{right:calc((100% - 1680px) / 2);}
}
@media all and (min-width:1681px){
    .eng .header_box .search_form_box{mask-image:url(../images/common/search_form_mask_type_white.png);-webkit-mask-image:url(../images/common/search_form_mask_type_white.png);}
}
@media all and (min-width:1001px) and (max-width:1470px){
    .eng .header_gnb .wrap{width:94%;}
    .eng .header_box .wrap{width:94%;}
    .eng .lnb .menu .depth1{width:94%;}
    .eng .lnb .menu .depth1 .line_deco_box{left:3%;width:94%;}
    .eng .lnb .menu .depth1 .depth1_list .depth1_item{margin-left:1.5vw;}
    .eng .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text span em{font-size:17px;}
    .eng .lnb .menu .depth2{padding:0 3%;}
    .eng .header_last{right:3%;}
}
@media all and (min-width:1001px) and (max-width:1235px){
    .eng .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text span em{font-size:18px;letter-spacing:-0.06em;}
}
@media all and (min-width:1001px){
    .eng .header_box .logo .logo_link .logo_con.con_img{width:275px;height:51px;background-image:url(../images/common/common_logo_eng.png);}
    .eng .header_box .logo .logo_link .logo_con.con_text{display:none;}
    .eng .lnb .menu .depth1{padding-right:76px;padding-left:300px;}
}
@media all and (max-width:1000px){
    .eng .header_box .logo .logo_link .logo_con.con_text{display:none;}
    .eng .header_box .logo .logo_link .logo_con.con_img{width:194px;height:36px;background-image:url(../images/common/common_logo_eng.png);}
    .eng .lnb .lnb_topbox .logo .logo_link .logo_con.con_text{display:none;}
    .eng .lnb .lnb_topbox .logo .logo_link .logo_con.con_img{width:194px;height:36px;background-image:url(../images/common/common_logo_eng_white.png);}
}
@media all and (max-width:640px){
    .eng .header_box{padding:19px 0;}
    .eng .header_box .logo .logo_link .logo_con.con_img{width:174px;height:32px;}
    .eng .lnb .lnb_topbox .logo{padding:19px 0;}
    .eng .lnb .lnb_topbox .logo .logo_link .logo_con.con_img{width:174px;height:32px;}
}
/* --------------- header 깨기 끝 --------------- */

/* --------------- fixed_box 깨기 시작 --------------- */
.fixed_box{display:none;}
/* --------------- fixed_box 깨기 끝 --------------- */