@charset "UTF-8";
/* ㈜한신정보기술 - 이재홍 2023.09 */

/* common */
#container{padding-top:40px;padding-bottom:50px;}
#container .wrap{min-height:500px;}
main{display:block;width:100%;box-sizing:border-box;}
@media screen and (max-width:1000px){
    #container{padding-top:25px;padding-bottom:45px;}
}
@media screen and (max-width:640px){
    #container{padding-top:15px;padding-bottom:40px;}
}
