@charset "UTF-8";

/* (주)한신정보기술 이재홍 - 2023.06 */

/* 아카데미 > 인사말 */
.cts16_wrap .intro_box{position:relative;text-align:center;}
.cts16_wrap .intro_box:before{content:'';display:block;position:absolute;top:0;left:calc(50% - 960px);width:1920px;height:720px;background-image:url(../images/contents/cts16_intro_bg.jpg);background-repeat:no-repeat;}
.cts16_wrap .intro_box .greeting{position:relative;margin-bottom:131px;padding-top:128px;}
.cts16_wrap .intro_box .greeting:before{content:'';display:block;width:42px;height:27px;margin-right:auto;margin-bottom:14px;margin-left:auto;background-image:url(../images/contents/cts16_quotation_mark.png);background-repeat:no-repeat;}
.cts16_wrap .intro_box .greeting em{font-weight:200;font-size:32px;line-height:45px;color:#fff;}
.cts16_wrap .intro_box .greeting em span{font-weight:600;}
.cts16_wrap .intro_box .intro_text{position:relative;padding-top:55px;padding-right:71px;padding-left:71px;background-color:#fff;}
.cts16_wrap .intro_box .intro_text:after{content:'';display:block;width:100%;height:2px;margin-right:auto;margin-bottom:1px;margin-left:auto;background-image:url(../images/contents/cts16_intro_border.jpg);background-repeat:no-repeat;}
.cts16_wrap .intro_box .intro_text p{margin-bottom:28px;font-weight:200;font-size:18px;line-height:30px;color:#000;}
.cts16_wrap .intro_box .intro_text p.blue{margin-bottom:30px;font-weight:600;color:#007dd0;}
.cts16_wrap .intro_box .intro_text .writer{margin-bottom:65px;font-weight:500;font-size:20px;line-height:30px;}
.cts16_wrap .content_box{position:relative}
.cts16_wrap .content_box:before{content:'';display:block;position:absolute;top:0;left:calc(50% - 960px);width:1920px;height:1000px;background-image:url(../images/contents/cts16_desc_bg.jpg);background-repeat:no-repeat;}
.cts16_wrap .content_box .title_wrap{position:relative;padding-top:99px;text-align:center;}
.cts16_wrap .content_box .title_wrap .content_sub_title{width:220px;height:29px;margin-right:auto;margin-left:auto;border-radius:15px;background-color:#0053a0;font-weight:400;font-size:16px;line-height:29px;color:#fff;}
.cts16_wrap .content_box .title_wrap .content_title{display:block;margin-top:11px;margin-bottom:23px;font-weight:800;font-size:40px;line-height:44px;color:#0053a0;}
.cts16_wrap .content_box .title_wrap .content_desc{margin-bottom:39px;font-weight:300;font-size:16px;line-height:27px;color:#333;}
.cts16_wrap .content_box > .box_img{position:relative;margin-bottom:42px;padding:unset;border:unset;}
.cts16_wrap .content_box .connect{position:relative;width:calc(100% - 142px);margin-right:auto;margin-left:auto;padding-bottom:40px;padding-left:51px;background-color:#e5f1f6;border-radius:20px;}
.cts16_wrap .content_box .connect .text_wrap{float:left;padding-top:41px;}
.cts16_wrap .content_box .connect .text_wrap .title{width:145px;height:43px;margin-bottom:17px;border-radius:10px;background-color:#207ba2;font-weight:400;font-size:20px;line-height:43px;color:#fff;}
.cts16_wrap .content_box .connect .text_wrap .title:before{content:'';display:inline-block;width:31px;height:26px;margin-bottom:-4px;margin-right:5px;margin-left:16px;background-image:url(../images/contents/cts16_check_icon.png);}
.cts16_wrap .content_box .connect .text_wrap .bu li{line-height:32px;}
.cts16_wrap .content_box .connect .text_wrap .bu li .warning.small{display:block;margin-top:-5px;margin-bottom:5px;line-height:25px;}
.cts16_wrap .content_box .connect .box_img{position:absolute;top:50%;right:41px;transform:translateY(-50%);width:calc(100% - 500px);padding-top:unset;padding-bottom:unset;border:unset;border-radius:unset;}
@media screen and (max-width:1500px){
    .cts16_wrap .content_box .connect{width:100%;}
}
@media screen and (max-width:1000px){
    .cts16_wrap .intro_box .greeting em{font-size:28px;line-height:36px;}
    .cts16_wrap .intro_box .intro_text{padding-right:3%;padding-left:3%;}
    .cts16_wrap .intro_box .intro_text p{font-size:16px;line-height:26px;}
    .cts16_wrap .intro_box .intro_text .writer{font-size:18px;line-height:28px;}
    .cts16_wrap .content_box:before{left:calc(50% - 500px);width:1000px;height:520px;background-size:1000px;}
    .cts16_wrap .content_box .title_wrap .content_title{font-size:36px;line-height:40px;}
    .cts16_wrap .content_box .connect{padding-left:3%;padding-right:3%;}
    .cts16_wrap .content_box .connect .text_wrap{float:unset;margin-bottom:20px;padding-left:3%;}
    .cts16_wrap .content_box .connect .box_img{position:unset;top:unset;right:unset;transform:translateY(0);width:100%;}
}
@media screen and (max-width:640px){
    .cts16_wrap .intro_box .greeting em{font-size:26px;line-height:34px;}
    .cts16_wrap .intro_box .intro_text p{font-size:15px;line-height:24px;}
    .cts16_wrap .intro_box .intro_text .writer{font-size:17px;line-height:26px;}
    .cts16_wrap .content_box .title_wrap .content_sub_title{font-size:15px;line-height:29px;}
    .cts16_wrap .content_box .title_wrap .content_title{font-size:32px;line-height:36px;}
    .cts16_wrap .content_box .title_wrap .content_desc{font-size:15px;line-height:24px;}
}


/* 표준교육 > ICT 표준 기술 > 소개 */
.cts27_wrap .education_wrap{margin-top:50px;padding:60px 86px;border:solid 1px #ccc;border-radius:20px;}
.cts27_wrap .education_wrap .education_kind{overflow:hidden;float:left;position:relative;text-align:center;}
.cts27_wrap .education_wrap .education_kind:nth-child(n+2){margin-left:calc((100% - 1184px) / 3);}
.cts27_wrap .education_wrap .education_kind:nth-child(-n+3){margin-bottom:50px;}
.cts27_wrap .education_wrap .education_kind:before{content:'';display:block;position:absolute;top:0;left:50%;width:1px;height:100%;background-color:#b5b5b5;}
.cts27_wrap .education_wrap .education_kind .education_title{position:relative;width:294px;height:102px;margin-right:auto;margin-bottom:16px;margin-left:auto;padding-top:19px;background-repeat:no-repeat;font-weight:500;font-size:19px;line-height:24px;color:#fff;}
.cts27_wrap .education_wrap .education_kind .education_list{position:relative;width:296px;margin-right:auto;margin-left:auto;}
.cts27_wrap .education_wrap .education_kind .education_list li{width:296px;height:56px;border:solid 1px;border-radius:7px;background-color:#fff;font-weight:400;font-size:17px;line-height:54px;}
.cts27_wrap .education_wrap .education_kind .education_list li:nth-child(n+2){margin-top:9px;}

.cts27_wrap .education_wrap .education_kind.orange .education_title{background-image:url(../images/contents/cts27_education_bg_orange.png);}
.cts27_wrap .education_wrap .education_kind.green .education_title{background-image:url(../images/contents/cts27_education_bg_green.png);}
.cts27_wrap .education_wrap .education_kind.purple .education_title{background-image:url(../images/contents/cts27_education_bg_purple.png);}
.cts27_wrap .education_wrap .education_kind.blue .education_title{background-image:url(../images/contents/cts27_education_bg_blue.png);}
.cts27_wrap .education_wrap .education_kind.orange .education_list li{border-color:#d76c01;}
.cts27_wrap .education_wrap .education_kind.green .education_list li{border-color:#05a4c1;}
.cts27_wrap .education_wrap .education_kind.purple .education_list li{border-color:#8b7ae3;}
.cts27_wrap .education_wrap .education_kind.blue .education_list li{border-color:#019cd2;}

@media screen and (max-width:1500px){
    .cts27_wrap .education_wrap{padding:60px 60px;}
    .cts27_wrap .education_wrap .education_kind:nth-child(n+2){margin-left:calc((100% - 888px) / 2);}
    .cts27_wrap .education_wrap .education_kind:nth-child(4){margin-left:unset;clear:both;}
}
@media screen and (max-width:1100px){
    .cts27_wrap .education_wrap{padding-right:calc(25% - 120px);padding-left:calc(25% - 120px);}
    .cts27_wrap .education_wrap .education_kind:nth-child(n+2){margin-left:calc(100% - 592px);}
    .cts27_wrap .education_wrap .education_kind:nth-child(3){margin-left:unset;clear:both;}
    .cts27_wrap .education_wrap .education_kind:nth-child(4){clear:unset;}
}
@media screen and (max-width:1000px){
    .cts27_wrap .education_wrap .education_kind .education_title{font-size:18px;}
    .cts27_wrap .education_wrap .education_kind .education_list li{font-size:16px;}
}
@media screen and (max-width:800px){
    .cts27_wrap .education_wrap{padding-right:20px;padding-left:20px;}
    .cts27_wrap .education_wrap .education_kind{float:unset;}
    .cts27_wrap .education_wrap .education_kind:nth-child(n+2){margin-left:unset;}
}
@media screen and (max-width:640px){
    .cts27_wrap .education_wrap .education_kind .education_title{font-size:17px;}
    .cts27_wrap .education_wrap .education_kind .education_list li{font-size:15px;}
}

/*  표준교육 > ICT 표준 전문가 양성 교육 > 소개 */
.cts29_wrap .edu_box.img_type.type1{padding-top:180px;padding-left:90px;}
.cts29_wrap .edu_box.img_type.type1:before{width:100%;background-position:center;}
.cts29_wrap .edu_box.img_type.type1 .edu_box_inner .edu_title_box .edu_title{font-size:35px;}
.cts29_wrap .inform_wrap{overflow:hidden;margin-top:-139px;margin-bottom:90px;padding-top:195px;border-radius:0 0 15px 15px;background-color:#f1fafd;}
.cts29_wrap .inform_wrap .inform_list{margin-bottom:75px;padding-right:90px;padding-left:90px;}
.cts29_wrap .inform_wrap .inform_list .inform_item{overflow:hidden;width:100%;height:110px;border-radius:20px;background-size:300px 100%;background-repeat:no-repeat;box-shadow:3px 4px 13px rgba(0, 0, 0, 0.08);}
.cts29_wrap .inform_wrap .inform_list .inform_item + .inform_item{margin-top:40px;}
.cts29_wrap .inform_wrap .inform_list .inform_item:nth-child(odd){background-image:linear-gradient(#018552, #027916);}
.cts29_wrap .inform_wrap .inform_list .inform_item:nth-child(even){background-image:linear-gradient(#008ccd, #0f63b8);}
.cts29_wrap .inform_wrap .inform_list .inform_item .sort{float:left;padding-left:40px;font-weight:600;font-size:25px;line-height:110px;color:#fff;}
.cts29_wrap .inform_wrap .inform_list .inform_item .text{display:table;float:right;width:calc(100% - 170px);height:100%;padding-right:55px;padding-left:55px;border-radius:20px 0 0 20px;background-color:#fff;margin-right:-1px;vertical-align:middle;}
.cts29_wrap .inform_wrap .inform_list .inform_item .text .table_cell{display:table-cell;font-weight:400;font-size:20px;line-height:32px;color:#333;vertical-align:middle;}
.cts29_wrap .inform_wrap .box_img{padding:unset;border:unset;border-radius:15px;}
.cts29_wrap .edu_box.img_type.type_none{padding-top:unset;padding-left:90px;}
.cts29_wrap .edu_box.img_type.type_none:before{display:none;}
.cts29_wrap .edu_box.img_type.type_none .edu_box_inner{padding:55px 75px;}
.cts29_wrap .edu_box.img_type.type_none .edu_box_inner .edu_title_box .edu_title .bracket.small{font-size:29px;}
.cts29_wrap .alarm_wrap{margin-top:-110px;padding:60px 90px 50px;border-radius:15px;background-color:#f1fafd;}
.cts29_wrap .alarm_wrap .alarm_legend{width:fit-content;margin-bottom:30px;margin-left:auto;padding:20px 25px;border-radius:15px;background-color:#fff;}
.cts29_wrap .alarm_wrap .alarm_legend .legend_list .legend_item{float:left;}
.cts29_wrap .alarm_wrap .alarm_legend .legend_list .legend_item:first-child{margin-right:40px;}
.cts29_wrap .alarm_wrap .alarm_legend .legend_list .legend_item .legend_title{float:right;font-weight:400;font-size:18px;line-height:30px;color:#333;vertical-align:baseline;}
.cts29_wrap .alarm_wrap .alarm_legend .legend_list .legend_item .legend_group{float:left;margin-right:15px;font-size:0;line-height:30px;}
.cts29_wrap .alarm_wrap .alarm_legend .legend_list .legend_item .legend_group .legend_color{display:inline-block;width:30px;height:30px;border-radius:5px;}
.cts29_wrap .alarm_wrap .alarm_legend .legend_list .legend_item .legend_group li:nth-child(1){background-color:#0ba11e;}
.cts29_wrap .alarm_wrap .alarm_legend .legend_list .legend_item .legend_group li:nth-child(2){background-color:#8a59a5;}
.cts29_wrap .alarm_wrap .alarm_legend .legend_list .legend_item .legend_group li:nth-child(3){background-color:#f47321;}
.cts29_wrap .alarm_wrap .alarm_legend .legend_list .legend_item .legend_group li:nth-child(-n+2){margin-right:7px;}
.cts29_wrap .alarm_wrap .alarm_legend .legend_list .legend_item .legend_group span{background-color:#008ec4;}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list{overflow:unset;}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item{float:left;position:relative;width:235px;margin-right:calc((100% - 238px * 5) / 4);list-style:none;}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item:nth-child(5n){margin-right:unset;}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item:nth-child(5n+1){clear:both;}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item:nth-child(-n+20){margin-bottom:50px;}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item:after{content:'';display:block;position:absolute;top:95px;right:-37px;z-index:1;width:66px;height:66px;background-image:url(../images/contents/cts29_alarm_right_arrow.png);background-repeat:no-repeat;}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item:last-child:after{display:none;}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item .group_title{position:relative;width:100%;height:45px;margin:0 auto 8px;border-radius:5px;font-weight:600;font-size:18px;line-height:45px;color:#fff;text-align:center;box-shadow:3px 4px 13px rgba(0, 0, 0, 0.08);}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item .group_title:after{content:'';display:block;position:absolute;bottom:-30px;left:calc(50% - 18px);width:43px;height:43px;background-image:url(../images/contents/cts29_alarm_circle_sprite.png);background-repeat:no-repeat;}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item .group_title i{position:absolute;top:-14px;left:-14px;width:40px;height:40px;background-image:url(../images/contents/cts29_alarm_title_num_sprite.png);background-repeat:no-repeat;font-size:0;}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item .text_box{overflow:hidden;width:100%;margin-bottom:12px;border-style:solid;border-width:1px;border-radius:5px;box-sizing:border-box;box-shadow:3px 4px 13px rgba(0, 0, 0, 0.08);}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item .text_box .title{display:block;height:65px;font-weight:600;font-size:21px;line-height:65px;text-align:center;}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item .text_box .title i{display:inline-block;width:22px;height:22px;margin-right:8px;margin-bottom:5px;border-radius:100%;font-weight:500;font-size:15px;line-height:20px;color:#fff;vertical-align:middle;}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item .text_box .title .new{display:inline-block;width:48px;height:24px;margin-top:-4px;margin-left:8px;border-radius:5px;background-color:#ed2941;font-weight:500;font-size:15px;line-height:24px;color:#fff;vertical-align:middle;}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item .text_box .num{min-height:125px;padding:15px 20px;background-color:#fff;}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item .text_box .num li{padding-left:unset;font-weight:200;font-size:17px;line-height:20px;color:#666;}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item .text_box .num li.spacing100{letter-spacing:-0.1em;}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item .text_box .num li + li{margin-top:10px;}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item .text_box .num li span{vertical-align:top;}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item .reference{height:35px;margin-bottom:7px;padding-left:10px;border:solid 1px #999;border-radius:5px;background-color:#fff;font-weight:400;font-size:15px;line-height:35px;color:#454545;box-shadow:3px 4px 13px rgba(0, 0, 0, 0.08);}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item .reference:before{content:'';display:inline-block;width:16px;height:16px;margin-right:7px;margin-bottom:-2px;background-image:url(../images/contents/cts29_alarm_arrow_sprite.png);background-position-x:-48px;background-repeat:no-repeat;}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item .reference img{margin-top:-3px;}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item .date{height:35px;padding-left:10px;border-style:solid;border-width:1px;border-radius:5px;background-color:#fff;font-weight:400;font-size:15px;color:#454545;box-shadow:3px 4px 13px rgba(0, 0, 0, 0.08);}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item .date:before{content:'';display:inline-block;width:16px;height:16px;margin-right:7px;margin-bottom:-2px;background-image:url(../images/contents/cts29_alarm_arrow_sprite.png);background-repeat:no-repeat;}
.cts29_wrap .alarm_wrap .warning_wrap .cts_warning{float:left;margin-top:8px;padding:11px 15px;border:solid 1px #008ec4;border-radius:5px;background-color:#e6f2fc;font-weight:400;font-size:16px;line-height:20px;}
.cts29_wrap .alarm_wrap .warning_wrap .warning{float:right;margin-top:7px;}

.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item.green .group_title{background-color:#0ba11e;}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item.purple .group_title{background-color:#8a59a5;}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item.blue .group_title{background-color:#008ec4;}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item.orange .group_title{background-color:#e7651c;}

.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item.purple .group_title:after{background-position-x:-43px;}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item.blue .group_title:after{background-position-x:-86px;}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item.orange .group_title:after{background-position-x:-129px;}

.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item.purple .group_title i{background-position-x:-40px;}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item.blue .group_title i{background-position-x:-80px;}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item.orange .group_title i{background-position-x:-120px;}

.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item.green .text_box{border-color:#0ba11e;}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item.purple .text_box{border-color:#8a59a5;}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item.blue .text_box{border-color:#008ec4;}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item.orange .text_box{border-color:#e7651c;}

.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item.green .text_box .title{background-color:#edfcef;}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item.purple .text_box .title{background-color:#f2ebf8;}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item.blue .text_box .title{background-color:#e6f2fc;}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item.orange .text_box .title{background-color:#fdeadb;}

.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item.green .text_box .title i{background-color:#0ba11e;}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item.purple .text_box .title i{background-color:#8a59a5;}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item.blue .text_box .title i{background-color:#008ec4;}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item.orange .text_box .title i{background-color:#e7651c;}

.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item.green .date{border-color:#0ba11e;background-color:#edfcef;font-weight:600;}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item.purple .date{border-color:#8a59a5;background-color:#f2ebf8;}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item.orange .date{border-color:#e7651c;background-color:#fdeadb;}

.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item.purple .date:before{background-position-x:-16px;}
.cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item.orange .date:before{background-position-x:-32px;}

@media screen and (max-width:1500px){
    .cts29_wrap .edu_box.img_type.type1{padding-top:90px;padding-left:3%;}
    .cts29_wrap .edu_box.img_type.type_none{padding:0;}
    .cts29_wrap .edu_box.img_type.type_none .edu_box_inner{width:65%;padding:30px;text-align:center;}
    .cts29_wrap .edu_box.img_type.type_none .edu_box_inner:before{display:none;}
    .cts29_wrap .edu_box.img_type.type_none .edu_box_inner .edu_title_box
    .cts29_wrap .edu_box.img_type.type_none .edu_box_inner .edu_title_box .edu_title{display:inline-block;position:relative;width:auto;vertical-align:top;}

    .cts29_wrap .inform_wrap .inform_list,
    .cts29_wrap .alarm_wrap{padding-right:3%;padding-left:3%;}
    .cts29_wrap .edu_box.img_type.type_none{margin-left:3%;}
    .cts29_wrap .alarm_wrap{padding-top:120px;}
    .cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item{width:20%;}
    .cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item, .cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item:nth-child(5n){margin-right:5%;}
    .cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item:nth-child(4n){margin-right:unset;}
    .cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item:nth-child(5n+1){clear:unset;}
    .cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item:nth-child(4n+1){clear:both;}
    .cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item:nth-child(-n+24){margin-bottom:50px;}
    .cts29_wrap .alarm_wrap .warning_wrap .cts_warning{float:none;width:fit-content;}
    .cts29_wrap .alarm_wrap .warning_wrap .warning{float:none;}
}
@media screen and (max-width:1100px){
    .cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item{width:30%;}
    .cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item, .cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item:nth-child(5n), .cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item:nth-child(4n){margin-right:5%;}
    .cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item:nth-child(3n){margin-right:unset;}
    .cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item:nth-child(4n+1){clear:unset;}
    .cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item:nth-child(3n+1){clear:both;}
}
@media screen and (max-width:1000px){
    .cts29_wrap .edu_box.img_type.type1:before{border-radius:100px 0 100px 0;}
    .cts29_wrap .edu_box.img_type.type1 .edu_box_inner{border-radius:70px 0 70px 0;}
    .cts29_wrap .edu_box.img_type.type1 .edu_box_inner .edu_title_box .edu_title{font-size:23px;}
    .cts29_wrap .inform_wrap .inform_list .inform_item{height:90px;}
    .cts29_wrap .inform_wrap .inform_list .inform_item .sort{padding-left:35px;font-size:21px;line-height:90px;}
    .cts29_wrap .inform_wrap .inform_list .inform_item .text{width:calc(100% - 140px);padding-right:30px;padding-left:30px;}
    .cts29_wrap .inform_wrap .inform_list .inform_item .text .table_cell{font-size:15px;line-height:20px;}
    .cts29_wrap .inform_wrap .inform_list .inform_item:nth-child(3) .text .table_cell br{display:none;}
    .cts29_wrap .edu_box.img_type.type_none{margin-left:0;}
    .cts29_wrap .edu_box.img_type.type_none .edu_box_inner{width:100%;border-radius:70px 0 70px 0;}
    .cts29_wrap .edu_box.img_type.type_none .edu_box_inner .edu_title_box .edu_title .bracket.small{font-size:18px;}
    .cts29_wrap .alarm_wrap{margin-top:-70px;border-radius:0 0 15px 15px;}
    .cts29_wrap .alarm_wrap .alarm_legend{padding:15px 20px;}
    .cts29_wrap .alarm_wrap .alarm_legend .legend_list .legend_item .legend_title{font-size:14px;line-height:20px;}
    .cts29_wrap .alarm_wrap .alarm_legend .legend_list .legend_item .legend_group{line-height:20px;}
    .cts29_wrap .alarm_wrap .alarm_legend .legend_list .legend_item .legend_group .legend_color{width:20px;height:20px;}
    .cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item:nth-child(3n){margin-right:unset;}
    .cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item .group_title{font-size:16px;}
    .cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item .group_title i{top:-10px;left:-10px;width:30px;height:30px;background-size:120px;}
    .cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item .text_box .title{font-size:18px;}
    .cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item .text_box .num li{font-size:15px;}
    .cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item .text_box .num li + li {margin-top: 8px;}
    .cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item .date{font-size:14px;}
    .cts29_wrap .alarm_wrap .warning_wrap .cts_warning{font-size:15px;}
    
    .cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item.purple .group_title i{background-position-x:-30px;}
    .cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item.orange .group_title i{background-position-x:-120px;}
    .cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item.blue .group_title i{background-position-x:-60px;}
}
@media screen and (max-width:640px){
    .cts29_wrap .edu_box.img_type.type1{padding:30px;}
    .cts29_wrap .edu_box.img_type.type1:before{border-radius:70px 0 70px 0;}
    .cts29_wrap .edu_box.img_type.type1 .edu_box_inner{border-radius:50px 0 50px 0;}
    .cts29_wrap .edu_box.img_type.type1 .edu_box_inner .edu_title_box .edu_title{font-size:20px;line-height:24px;}
    .cts29_wrap .edu_box.img_type .edu_box_inner{width:100%;}
    .cts29_wrap .inform_wrap .inform_list .inform_item{height:unset;background-size:100% 80px;border-radius:15px;}
    .cts29_wrap .inform_wrap .inform_list .inform_item + .inform_item{margin-top:25px;}
    .cts29_wrap .inform_wrap .inform_list .inform_item .sort{float:unset;padding-left:unset;font-size:19px;line-height:50px;text-align:center;}
    .cts29_wrap .inform_wrap .inform_list .inform_item .text{float:unset;width:100%;padding-top:15px;padding-bottom:15px;border-radius:15px 15px 0 0;}
    .cts29_wrap .edu_box.img_type.type_none .edu_box_inner{border-radius:50px 0 50px 0;}
    .cts29_wrap .edu_box.img_type.type_none .edu_box_inner .edu_title_box .edu_title br:nth-of-type(1){display:none;}
    .cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item{width:100%;}
    .cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item,
    .cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item:nth-child(5n),
    .cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item:nth-child(4n){margin-right:0;}
    .cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item{float:none;margin-right:0;}
    .cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item:nth-child(-n+24){margin-bottom:80px;}
    .cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item:after{top:unset;bottom:-70px;right:calc(50% - 28px);width:50px;height:50px;background-image:url(../images/contents/cts29_alarm_down_arrow.png);}
    .cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item .group_title{width:100%;}
    .cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item .group_title i{display:inline-block;position:static;margin-right:10px;}
    .cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item .text_box{width:100%;}
    .cts29_wrap .alarm_wrap .alarm_box .alarm_list .alarm_item .text_box .title{height:unset;line-height:50px;}
}

/* SW교육 */
.cts_sw_edu h4{margin-top:30px;}
.cts_sw_edu h3 + h4{margin-top:45px;}
.cts_sw_edu em.bold{font-weight:400;}
.cts_sw_edu .table thead tr th,
.cts_sw_edu .table thead tr td,
.cts_sw_edu .table tbody tr th,
.cts_sw_edu .table tbody tr td{padding-top:8px;padding-bottom:8px;word-break:keep-all;}
.cts_sw_edu .table tbody td .bu,
.cts_sw_edu .table tbody td .num{width:100%;font-size:0;line-height:0;}
.cts_sw_edu .table tbody td .bu > li,
.cts_sw_edu .table tbody td .num > li{display:inline-block;width:auto;margin-right:10px;vertical-align:top;word-break:keep-all;}
.cts_sw_edu .table tbody td .bu > li:last-child,
.cts_sw_edu .table tbody td .num > li:last-child{margin-right:0;}
.cts_sw_edu .table tbody td .num > li{padding-left:20px;}
.cts_sw_edu .table tbody td .num > li .number{top:7px;width:15px;height:15px;line-height:14px;}

/* 아카데미 > 숫자로 보는 아카데미 */
.cts18_wrap .edu_tab_box .edu_tab_list{margin-bottom:44px;}
.cts18_wrap .canvas_box{position:relative;padding:20px;border:solid 1px #ccc;border-radius:20px;}
.cts18_wrap .canvas_box.cts_circle{height:600px;}
.cts18_wrap .canvas_box.cts_bar{height:700px;}
@media screen and (max-width:1500px){
    .cts18_wrap .edu_tab_box .edu_tab_list{margin-bottom:40px;}
}
@media screen and (max-width:1000px){
    .cts18_wrap .edu_tab_box .edu_tab_list{margin-bottom:30px;}
    .cts18_wrap .canvas_box.cts_circle{height:65vw;}
    .cts18_wrap .canvas_box.cts_bar{height:50vw;}
}
@media screen and (max-width:640px){
    .cts18_wrap .edu_tab_box .edu_tab_list{margin-bottom:20px;}
    .cts18_wrap .canvas_box.cts_circle{height:90vw;}
    .cts18_wrap .canvas_box.cts_bar{height:65vw;}
}

/* 고객센터 > 찾아오시는 길 */
/* common */
.cts73_wrap .pill{height:25px;margin-right:12px;padding-right:12px;padding-left:12px;border-radius:12px;font-weight:200;font-size:16px;line-height:25px;color:#fff;vertical-align:top;}
.cts73_wrap .pill.yellow{background-color:#e9a800;}
.cts73_wrap .pill.brown{background-color:#b34b5e;}
.cts73_wrap .pill.blue{background-color:#2b9ad7;}
.cts73_wrap .pill.green{background-color:#2fb32d;}
.cts73_wrap .pill.violet{background-color:#8c5ce1;}
.cts73_wrap .pill.purple{background-color:#ab44af;}
/* //common */
.cts73_wrap .cts73_map{position:relative}
.cts73_wrap .cts73_map .cts_map{height:634px;}
.cts73_wrap .cts73_map .wrap_controllers{position:absolute;bottom:0;left:0;z-index:1;width:100%;padding:34px 43px;border-radius:0 113px 0 0;background-image:url(../images/contents/cts73_tta_logo_bg.png), linear-gradient(90deg, #0055a3, #007dd0);background-position:calc(100% + 37px) 0, 0 0;background-repeat:no-repeat;}
.cts73_wrap .cts73_map .wrap_controllers .map_inform{display:inline-block;position:relative;padding-right:calc(100% - 1050px);font-size:0;}
.cts73_wrap .cts73_map .wrap_controllers .map_inform:after{content:'';display:inline-block;position:absolute;top:20px;right:30px;width:calc(100% - 720px);height:1px;background-color:rgba(255,255,255,0.5);}
.cts73_wrap .cts73_map .wrap_controllers .map_inform .map_logo{display:inline-block;margin-right:20px;font-size:0;}
.cts73_wrap .cts73_map .wrap_controllers .map_inform .map_logo img{vertical-align:top;}
.cts73_wrap .cts73_map .wrap_controllers .map_inform .map_logo span{margin-left:10px;font-weight:400;font-size:26px;line-height:39px;color:#fff;vertical-align:bottom;}
.cts73_wrap .cts73_map .wrap_controllers .map_inform .address{display:inline-block;position:relative;margin-right:25px;padding-left:42px;font-weight:400;font-size:18px;line-height:39px;color:#fff;vertical-align:bottom;word-break:keep-all;}
.cts73_wrap .cts73_map .wrap_controllers .map_inform .address:before{content:'';display:inline-block;position:absolute;top:5px;left:0;width:32px;height:32px;border-radius:100%;background-color:#fff;background-image:url(../images/contents/cts73_map_point_icon.png);background-position:center;background-repeat:no-repeat;box-shadow:3px 4px 5px rgba(0,0,0,0.1);}
.cts73_wrap .cts73_map .wrap_controllers .wrap_btn_roadview{display:inline-block;font-size:0;line-height:0;vertical-align:bottom;}
.cts73_wrap .cts73_map .wrap_controllers .wrap_btn_roadview .txt{height:45px;padding-right:30px;padding-left:25px;border:solid 1px #fff;border-radius:21px;background-color:#0055a3;font-weight:400;font-size:18px;line-height:43px;color:#fff;text-decoration:none;box-shadow:10px 12px 27px rgba(0,0,0,0.15);transition:background-color 0.3s, color 0.3s;}
.cts73_wrap .cts73_map .wrap_controllers .wrap_btn_roadview .txt:first-child{margin-right:15px;}
.cts73_wrap .cts73_map .wrap_controllers .wrap_btn_roadview .txt:before{content:'';display:inline-block;width:30px;height:30px;margin-right:10px;margin-bottom:-7px;background-image:url(../images/contents/cts73_button_icon_sprite.png);background-repeat:no-repeat;}
.cts73_wrap .cts73_map .wrap_controllers .wrap_btn_roadview .txt:last-child:before{background-position-x:-30px;}
@media screen and (min-width:1501px){
.cts73_wrap .cts73_map .wrap_controllers .wrap_btn_roadview .txt:hover{background-color:#fff;background-position-y:-30px;color:#007dd0;}
.cts73_wrap .cts73_map .wrap_controllers .wrap_btn_roadview .txt:hover:before{background-position-y:-30px;}
}
.cts73_wrap .transport_box{position:relative;padding:30px 3% 40px 163px;border-bottom:dotted 1px rgba(0,0,0,0.4);}
.cts73_wrap .transport_box:before{content:'';display:block;position:absolute;top:45px;left:47px;width:60px;height:60px;background-image:url(../images/contents/cts73_transport_icon_sprite.png);background-repeat:no-repeat;}
.cts73_wrap .transport_box.type2:before{background-position-x:-60px;}
.cts73_wrap .transport_box.type3:before{background-position-x:-120px;}
.cts73_wrap .transport_box .bus_group{font-size:0;line-height:0;}
.cts73_wrap .transport_box .bus_group + .bus_group{margin-top:12px;}
.cts73_wrap .transport_box .bus_group ul{display:inline-block;width:calc(100% - 80px);font-size:0;line-height:0;vertical-align:top;}
.cts73_wrap .transport_box .bus_group ul li{display:inline-block;margin-right:20px;vertical-align:top;}
.cts73_wrap .transport_box .bus_group ul li:last-child{margin-right:0;}
.cts73_wrap .transport_box .bus_group ul li a{font-weight:200;font-size:18px;line-height:25px;color:#333;}
.cts73_wrap .center_overlay{display:inline-block;position:relative;top:-70px;left:70px;width:auto;vertical-align:top;box-sizing:border-box;}
.cts73_wrap .center_overlay .inner{display:inline-block;position:relative;padding:0 18px;background-color:#1877f2;border:2px solid #fff;border-radius:18px;font-size:16px;color:#fff;line-height:36px;letter-spacing:-0.05em;font-weight:200;font-family:'CJK';vertical-align:top;box-sizing:border-box;box-shadow:1px 2px 13px rgba(0, 0, 0, 0.33);}
@media screen and (max-width:1500px){
    .cts73_wrap .cts73_map .cts_map{height:600px;}
    .cts73_wrap .cts73_map .wrap_controllers{padding:30px 40px;border-radius:0 100px 0 0;}
    .cts73_wrap .cts73_map .wrap_controllers .map_inform{padding-right:calc(100% - 890px);}
    .cts73_wrap .cts73_map .wrap_controllers .map_inform:after{width:calc(100% - 660px);}
    .cts73_wrap .cts73_map .wrap_controllers .map_inform .map_logo{margin-right:15px;}
    .cts73_wrap .cts73_map .wrap_controllers .map_inform .map_logo img{height:35px;}
    .cts73_wrap .cts73_map .wrap_controllers .map_inform .map_logo span{margin-left:5px;font-size:22px;line-height:35px;}
    .cts73_wrap .cts73_map .wrap_controllers .map_inform .address{padding-left:30px;font-size:17px;line-height:35px;}
    .cts73_wrap .cts73_map .wrap_controllers .map_inform .address:before{top:6px;width:25px;height:25px;background-size:15px;}
    .cts73_wrap .cts73_map .wrap_controllers .wrap_btn_roadview .txt{height:40px;padding-right:15px;padding-left:12px;border-radius:20px;font-size:17px;line-height:38px;}
    .cts73_wrap .cts73_map .wrap_controllers .wrap_btn_roadview .txt:first-child{margin-right:10px;}
    .cts73_wrap .cts73_map .wrap_controllers .wrap_btn_roadview .txt:before{width:25px;height:25px;margin-right:5px;margin-bottom:-5px;background-size:50px;}
    .cts73_wrap .cts73_map .wrap_controllers .wrap_btn_roadview .txt:last-child:before{background-position-x:-25px;}
    .cts73_wrap .transport_box .bus_group ul li a{font-size:17px;}
}
@media screen and (max-width:1000px){
    .cts73_wrap .cts73_map .cts_map{height:500px;}
    .cts73_wrap .cts73_map .wrap_controllers{padding:20px 30px;}
    .cts73_wrap .cts73_map .wrap_controllers .map_inform .map_logo span{font-size:20px;}
    .cts73_wrap .cts73_map .wrap_controllers .map_inform .address{display:block;font-size:16px;}
    .cts73_wrap .cts73_map .wrap_controllers .wrap_btn_roadview{display:block;margin-top:5px;}
    .cts73_wrap .cts73_map .wrap_controllers .wrap_btn_roadview .txt{height:38px;border-radius:19px;font-size:16px;line-height:36px;}
    .cts73_wrap .transport_box{padding-left:100px;}
    .cts73_wrap .transport_box:before{top:40px;left:20px;}
    .cts73_wrap .transport_box .bus_group ul li{margin-right:15px;}
    .cts73_wrap .transport_box .bus_group ul li a{font-size:16px;line-height:28px;}
}
@media screen and (max-width:640px){
    .cts73_wrap .pill{height:20px;margin-top:10px;margin-right:0;margin-bottom:5px;padding-right:10px;padding-left:10px;border-radius:10px;font-size:15px;line-height:20px;}
    .cts73_wrap .cts73_map .cts_map{height:300px;}
    .cts73_wrap .cts73_map .wrap_controllers{position:static;padding:15px 3%;border-radius:0;text-align:center;}
    .cts73_wrap .cts73_map .wrap_controllers .map_inform .address{display:block;}
    .cts73_wrap .cts73_map .wrap_controllers .map_inform .map_logo span{font-size:18px;}
    .cts73_wrap .cts73_map .wrap_controllers .map_inform .address{margin-top:5px;padding-left:0;font-size:15px;line-height:18px;}
    .cts73_wrap .cts73_map .wrap_controllers .map_inform .address:before{display:none;}
    .cts73_wrap .cts73_map .wrap_controllers .wrap_btn_roadview{display:block;}
    .cts73_wrap .cts73_map .wrap_controllers .wrap_btn_roadview .txt{height:32px;border-radius:18px;font-size:15px;line-height:30px;}
    .cts73_wrap .cts73_map .wrap_controllers .wrap_btn_roadview .txt:before{width:20px;height:20px;margin-bottom:-4px;background-size:40px;}
    .cts73_wrap .cts73_map .wrap_controllers .wrap_btn_roadview .txt:last-child:before{background-position-x:-20px;}
    .cts73_wrap .transport_box{padding:90px 3% 30px 3%;}
    .cts73_wrap .transport_box:before{top:20px;left:calc(50% - 30px);}
    .cts73_wrap .transport_box .num.type2.horiz{text-align:center;}
    .cts73_wrap .transport_box .num.type2.horiz > li{display:inline-block;width:auto;margin-right:10px;}
    .cts73_wrap .transport_box h4{padding:0;text-align:center;}
    .cts73_wrap .transport_box h4:before{display:inline-block;position:static;vertical-align:top;margin-top:12px;margin-right:6px;}
    .cts73_wrap .transport_box .bus_group{text-align:center;}
    .cts73_wrap .transport_box .bus_group ul{display:block;width:100%;padding-top:2px;}
    .cts73_wrap .transport_box .bus_group ul li{margin-right:10px;}
    .cts73_wrap .transport_box .bus_group ul li a{font-size:15px;line-height:22px;}
    .cts73_wrap .center_overlay{top:-60px;}
    .cts73_wrap .center_overlay .inner{font-size:15px;line-height:20px;}
}

/*  고객센터 > 문의/연락처 */
.cts74_wrap .edu_link_box .edu_link_item .edu_link .edu_link_text em strong{font-weight:400;}

/*  고객센터 > 민원처리 절차 안내 */
.cts75_wrap .box_img{padding-top:46px;padding-bottom:58px;border:0;border-radius:0;background-color:#fafafa;}

/* 개인정보 처리방침 */
.cts90_wrap .text_box{padding:30px;border:solid 1px #ccc;border-radius:10px;letter-spacing:-0.05em}

/* 이메일무단수집거부 */
.cts91_wrap .edu_box.icon_type .edu_icon_box .icon:before{background-image:url(../images/contents/cts90_email_icon.png);}

/*  자격시험 > 소개 > SW 테스트 전문가(CSTS) 자격시험 */
.edu_box_bg .edu_box.img_type.type8:before{background-image:url(../images/contents/cts95_box_bg_08.jpg);}
.cts95_wrap .edu_box .edu_box_inner .edu_title_box .edu_title .warning{padding-left:29px;font-size:22px;line-height:41px;color:#fff;}
.cts95_wrap .edu_box .edu_box_inner .edu_title_box .edu_title .warning:before{top:11px;width:22px;height:22px;background-image:url(../images/contents/cts95_warning_icon.png);}
.cts95_wrap .box_img{padding-top:45px;padding-bottom:66px;border:0;background-color:#f0f9ff;}

@media screen and (max-width:1500px){
    .edu_box_bg .edu_box .edu_box_inner .edu_title_box .edu_title .warning{font-size:18px;line-height:30px;}
    .edu_box_bg .edu_box .edu_box_inner .edu_title_box .edu_title .warning:before{top:4px;}
}
@media screen and (max-width:640px){
    .edu_box_bg .edu_box .edu_box_inner .edu_title_box .edu_title .warning{font-size:15px;line-height:20px;}
    .edu_box_bg .edu_box .edu_box_inner .edu_title_box .edu_title .warning:before{top:-1px;background-position:0 0;}
}

/*  자격시험 > 소개 > SW 테스트 전문가(CSTS) 고급등급 */
.cts94_wrap .gray_box{padding:20px 25px;border-radius:15px;background-color:#f8f8f8;}
.cts94_wrap .gray_box ul{padding-left:25px;}
.cts94_wrap .edu_box.text_type .edu_box_inner{font-size:0;line-height:0;}
.cts94_wrap .edu_box.text_type .edu_box_inner .box_img{display:inline-block;width:214px;margin-right:70px;padding:0;border:0;border-radius:0;vertical-align:top;}
.cts94_wrap .edu_box.text_type .edu_box_inner .box_img .inner{box-shadow:8px 13px 32px rgba(0, 0, 0, 0.15);}
.cts94_wrap .edu_box.text_type .edu_box_inner .edu_title_box{display:inline-block;width:calc(100% - 284px);vertical-align:top;}
@media screen and (max-width:1500px){
    .cts94_wrap .gray_box ul li{font-size:17px;line-height:30px;}
}
@media screen and (max-width:1000px){
    .cts94_wrap .gray_box ul li{font-size:16px;line-height:28px;}
    .cts94_wrap .edu_box.text_type .edu_box_inner .box_img{width:170px;margin-right:30px;}
    .cts94_wrap .edu_box.text_type .edu_box_inner .edu_title_box{width:calc(100% - 200px);}
}
@media screen and (max-width:640px){
    .cts94_wrap .gray_box ul li{font-size:15px;line-height:24px;}
    .cts94_wrap .edu_box.text_type .edu_box_inner .box_img{display:block;width:100%;margin-right:0;margin-bottom:30px;}
    .cts94_wrap .edu_box.text_type .edu_box_inner .edu_title_box{display:block;width:100%;}
}

/*  표준교육 > ICT 표준 동향 > 소개 */
.cts25_wrap .edu_box.img_type.type9:before{background-image:url(../images/contents/edu_box_bg09.jpg);}
.cts25_wrap .seminar_box{margin-top:50px;padding:7px 50px 50px;border:solid 1px #d3d3d3;border-radius:30px;}
.cts25_wrap .seminar_box .seminar_list{font-size:0;line-height:0;}
.cts25_wrap .seminar_box .seminar_list .seminar_item{display:inline-block;width:calc((100% - 105px) / 4);height:265px;margin-top:43px;padding-top:27px;padding-left:32px;border-radius:20px;background-position:center center;background-repeat:no-repeat;}
.cts25_wrap .seminar_box .seminar_list .seminar_item + .seminar_item{margin-left:35px;}
.cts25_wrap .seminar_box .seminar_list .seminar_item:nth-child(1){background-image:url(../images/contents/cts25_seminar01.jpg);}
.cts25_wrap .seminar_box .seminar_list .seminar_item:nth-child(2){background-image:url(../images/contents/cts25_seminar02.jpg);}
.cts25_wrap .seminar_box .seminar_list .seminar_item:nth-child(3){background-image:url(../images/contents/cts25_seminar03.jpg);}
.cts25_wrap .seminar_box .seminar_list .seminar_item:nth-child(4){background-image:url(../images/contents/cts25_seminar04.jpg);}
.cts25_wrap .seminar_box .seminar_list .seminar_item:nth-child(5){margin-left:0;background-image:url(../images/contents/cts25_seminar05.jpg);}
.cts25_wrap .seminar_box .seminar_list .seminar_item:nth-child(6){background-image:url(../images/contents/cts25_seminar06.jpg);}
.cts25_wrap .seminar_box .seminar_list .seminar_item:nth-child(7){background-image:url(../images/contents/cts25_seminar07.jpg);}
.cts25_wrap .seminar_box .seminar_list .seminar_item:nth-child(8){background-image:url(../images/contents/cts25_seminar08.jpg);}
.cts25_wrap .seminar_box .seminar_list .seminar_item .title{position:relative;min-height:50px;border-bottom:solid 1px rgba(255, 255, 255, 0.5);}
.cts25_wrap .seminar_box .seminar_list .seminar_item .title span{position:absolute;left:0;top:50%;padding-right:32px;font-weight:600;font-size:20px;line-height:23px;color:#fff;transform:translateY(-50%);}
@media screen and (max-width:1500px){
    .cts25_wrap .seminar_box{padding:0 30px 30px;}
    .cts25_wrap .edu_box.icon_type .edu_box_inner .edu_title_box .edu_desc{word-break:keep-all;}
    .cts25_wrap .edu_box.icon_type .edu_box_inner .edu_title_box .edu_desc br{display:none;}
    .cts25_wrap .seminar_box .seminar_list .seminar_item{width:23.5%;height:250px;margin-top:30px;}
    .cts25_wrap .seminar_box .seminar_list .seminar_item + .seminar_item{margin-left:2%;}
    .cts25_wrap .seminar_box .seminar_list .seminar_item:nth-child(5){margin-left:0;}
}
@media screen and (max-width:1000px){
    .cts25_wrap .seminar_box{border-radius:25px;}
    .cts25_wrap .seminar_box .seminar_list .seminar_item{width:32%;height:230px;padding-top:20px;padding-left:20px;}
    .cts25_wrap .seminar_box .seminar_list .seminar_item:nth-child(4){margin-left:0;}
    .cts25_wrap .seminar_box .seminar_list .seminar_item:nth-child(5){margin-left:2%;}
    .cts25_wrap .seminar_box .seminar_list .seminar_item:nth-child(7){margin-left:17%;}
    .cts25_wrap .seminar_box .seminar_list .seminar_item .title span{padding-right:20px;font-size:18px;line-height:22px;}
}
@media screen and (max-width:640px){
    .cts25_wrap .seminar_box{border-radius:20px;}
    .cts25_wrap .seminar_box .seminar_list .seminar_item{display:block;width:100%;max-width:325px;height:90px;margin-top:20px;margin-right:auto;margin-left:auto;border-radius:15px;}
    .cts25_wrap .seminar_box .seminar_list .seminar_item + .seminar_item{margin-left:auto;}
    .cts25_wrap .seminar_box .seminar_list .seminar_item .title span{font-size:16px;line-height:20px;}
}
