@charset "UTF-8";

/* (주)한신정보기술 박남규 - 2023.05 */

/* sub_visual 시작 */
.sub_visual{display:block;position:relative;z-index:69;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.sub_visual .visual_path_box{display:block;position:absolute;z-index:1;top:0;left:0;width:100%;padding:178px calc((100% - 1500px) / 2) 0;font-size:0;line-height:0;box-sizing:border-box;text-align:center;}
.sub_visual .visual_path_box .path_title{display:block;position:relative;width:100%;font-size:54px;color:#fff;line-height:72px;letter-spacing:-0.02em;font-weight:600;font-family:'CJK';box-sizing:border-box;transform:translateY(30%);opacity:0;transition-property:transform, opacity;transition-duration:1500ms;transition-delay:600ms;transition-timing-function:cubic-bezier(.52,.08,.04,1.18);}
.header_ani .sub_visual .visual_path_box .path_title{transform:translateY(0px);opacity:1;}
.sub_visual .visual_path_box .path_list{display:block;position:relative;width:100%;margin-top:13px;font-size:0;line-height:0;box-sizing:border-box;transform:translateY(-30%);opacity:0;transition-property:transform, opacity;transition-duration:1500ms;transition-delay:600ms;transition-timing-function:cubic-bezier(.52,.08,.04,1.18);}
.header_ani  .sub_visual .visual_path_box .path_list{transform:translateY(0px);opacity:1;}
.sub_visual .visual_path_box .path_list .path_item{display:inline-block;position:relative;width:auto;margin-right:15px;padding-right:21px;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.sub_visual .visual_path_box .path_list .path_item:last-child{margin-right:0;padding-right:0;}
.sub_visual .visual_path_box .path_list .path_item:before{display:block;position:absolute;top:4px;right:0;width:9px;height:15px;background-image:url(../images/sub/sub_visual_icons.png);background-repeat:no-repeat;background-position:-60px top;content:'';box-sizing:border-box;}
.sub_visual .visual_path_box .path_list .path_item:last-child:before{display:none;}
.sub_visual .visual_path_box .path_list .path_item .path_link{display:inline-block;position:relative;width:auto;font-size:18px;color:#fff;line-height:24px;letter-spacing:-0.05em;font-weight:200;font-family:'CJK';vertical-align:top;box-sizing:border-box;}
.sub_visual .visual_path_box .path_list .path_item.home .path_link{width:30px;font-size:0;color:transparent;}
.sub_visual .visual_path_box .path_list .path_item.home .path_link:before{display:block;position:absolute;top:calc(50% - 8px);left:calc(50% - 8px);width:16px;height:15px;background-image:url(../images/sub/sub_visual_icons.png);background-repeat:no-repeat;background-position:left top;content:'';box-sizing:border-box;transform:rotateY(0deg);transition-property:transform;transition-duration:1000ms;transition-timing-function:cubic-bezier(.52,.08,.04,1.18);}
.sub_visual .visual_path_box .path_list .path_item.home .path_link:hover:before{transform:rotateY(360deg);}
.sub_visual .visual_img_box{display:block;position:relative;width:100%;min-height:537px;font-size:0;line-height:0;box-sizing:border-box;overflow:hidden;}
.sub_visual .visual_img_box .img_deco{display:block;position:absolute;top:0;left:0;width:100%;height:100%;background-image:url(../images/sub/visual_img01.jpg);background-repeat:no-repeat;background-position:center center;background-size:cover;font-size:0;line-height:0;box-sizing:border-box;transform-origin:center bottom;transform:scale(1.3);opacity:0;transition-property:transform, opacity;transition-duration:1600ms;transition-delay:600ms;transition-timing-function:cubic-bezier(0.250, 0.460, 0.450, 0.940);}
.header_ani .sub_visual .visual_img_box .img_deco{transform:scale(1);opacity:1;}
.sub_visual.visual_type1 .visual_img_box .img_deco{background-image:url(../images/sub/visual_img01.jpg);}
.sub_visual.visual_type2 .visual_img_box .img_deco{background-image:url(../images/sub/visual_img02.jpg);}
.sub_visual.visual_type3 .visual_img_box .img_deco{background-image:url(../images/sub/visual_img03.jpg);}
.sub_visual.visual_type4 .visual_img_box .img_deco{background-image:url(../images/sub/visual_img04.jpg);}
.sub_visual.visual_type5 .visual_img_box .img_deco{background-image:url(../images/sub/visual_img05.jpg);}
.sub_visual .cms_depth2{display:block;position:absolute;bottom:0;left:0;width:100%;height:100px;padding:0 calc((100% - 1500px) / 2);font-size:0;line-height:0;box-sizing:border-box;overflow:hidden;}
.sub_visual .cms_depth2:before,
.sub_visual .cms_depth2:after{display:block;position:absolute;left:0;height:100%;border-radius:0 50px 50px 0;content:'';box-sizing:border-box;}
.sub_visual .cms_depth2:before{z-index:1;bottom:0;width:calc(((100% - 1500px) / 2) + 1288px);background-color:#0053a0;transform:translateX(-100%);opacity:0;transition-duration:900ms;transition-delay:1000ms;transition-timing-function:cubic-bezier(0.250, 0.460, 0.450, 0.940);}
.header_ani .sub_visual .cms_depth2:before{transform:translateX(0px);opacity:1;}
.sub_visual .cms_depth2:after{z-index:0;bottom:-50px;width:calc(100% - ((100% - 1500px) / 2));background-color:#fff;}
.sub_visual .cms_depth2 .home_link{display:block;position:absolute;z-index:3;top:calc(50% - 22px);left:calc(((100% - 1500px) / 2) + 3px);width:44px;height:44px;border-radius:100%;background-color:#fff;font-size:0;line-height:0;box-sizing:border-box;transform:translateX(100%);opacity:0;transition-duration:800ms;transition-delay:1000ms;transition-timing-function:cubic-bezier(.52,.08,.04,1.18);}
.header_ani .sub_visual .cms_depth2 .home_link{transform:translateX(0px);opacity:1;}
.sub_visual .cms_depth2 .home_link:before,
.sub_visual .cms_depth2 .home_link:after{display:block;position:absolute;content:'';box-sizing:border-box;}
.sub_visual .cms_depth2 .home_link:before{top:calc(50% - 7.5px);left:calc(50% - 9px);width:18px;height:15px;background-image:url(../images/sub/sub_visual_icons.png);background-repeat:no-repeat;background-position:-30px top;}
.sub_visual .cms_depth2 .home_link:after{top:-3px;left:-3px;width:calc(100% + 6px);height:calc(100% + 6px);border:3px solid #89bceb;border-radius:100%;visibility:hidden;opacity:0;transform:scale(2) rotate(-720deg);transition-property:visibility, opacity, transform;transition-duration:1000ms;transition-timing-function:cubic-bezier(.52,.08,.04,1.18);}
.sub_visual .cms_depth2 .home_link:hover:after{visibility:visible;opacity:1;transform:scale(1) rotate(0deg);}
.sub_visual .cms_depth2 .cms_depth2_list{display:block;position:relative;z-index:2;top:50%;transform:translateY(-50%);width:100%;max-width:1288px;padding-right:12px;padding-left:72px;font-size:0;line-height:0;box-sizing:border-box;}
.sub_visual .cms_depth2 .cms_depth2_list .cms_depth2_item{display:inline-block;position:relative;width:auto;padding-right:18px;padding-left:25px;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.sub_visual .cms_depth2 .cms_depth2_list .cms_depth2_item:before{display:block;position:absolute;top:8px;left:0;width:6px;height:6px;border-radius:100%;background-color:rgba(255, 255, 255, 0.5);content:'';box-sizing:border-box;transform:scale(0);transition-property:transform;transition-duration:400ms;transition-delay:1200ms;transition-timing-function:cubic-bezier(.52,.08,.04,1.18);}
.header_ani .sub_visual .cms_depth2 .cms_depth2_list .cms_depth2_item:before{transform:scale(1);}
.sub_visual .cms_depth2 .cms_depth2_list .cms_depth2_item:first-child{padding-left:0;}
.sub_visual .cms_depth2 .cms_depth2_list .cms_depth2_item:first-child:before{display:none;}
.sub_visual .cms_depth2 .cms_depth2_list .cms_depth2_item .cms_depth2_text{display:inline-block;position:relative;width:auto;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.sub_visual .cms_depth2 .cms_depth2_list .cms_depth2_item .cms_depth2_text:hover{text-decoration:none;}
.sub_visual .cms_depth2 .cms_depth2_list .cms_depth2_item .cms_depth2_text span{display:inline-block;position:relative;width:auto;font-size:0;line-height:0;box-sizing:border-box;opacity:0;transform:translateX(-30px);transition-property:opacity, transform;transition-duration:400ms;transition-delay:1400ms;transition-timing-function:cubic-bezier(.52,.08,.04,1.18);}
.header_ani .sub_visual .cms_depth2 .cms_depth2_list .cms_depth2_item .cms_depth2_text span{opacity:1;transform:translateX(0px);}
.sub_visual .cms_depth2 .cms_depth2_list .cms_depth2_item .cms_depth2_text span:before{display:block;position:absolute;bottom:0;left:-2px;width:calc(100% + 4px);height:0px;background-color:rgba(255, 255, 255, 0.2);border-radius:4px;content:'';box-sizing:border-box;transition-property:height;transition-duration:400ms;transition-timing-function:cubic-bezier(.52,.08,.04,1.18);}
.sub_visual .cms_depth2 .cms_depth2_list .cms_depth2_item .cms_depth2_text:hover span:before,
.sub_visual .cms_depth2 .cms_depth2_list .cms_depth2_item.active .cms_depth2_text span:before{height:9px;}
.sub_visual .cms_depth2 .cms_depth2_list .cms_depth2_item .cms_depth2_text span em{display:inline-block;position:relative;font-size:16px;color:#fff;line-height:22px;letter-spacing:-0.03em;font-weight:400;font-family:'CJK';vertical-align:top;box-sizing:border-box;transform:translateY(0px);transition-property:transform;transition-duration:800ms;transition-timing-function:cubic-bezier(.52,.08,.04,1.18);}
.sub_visual .cms_depth2 .cms_depth2_list .cms_depth2_item .cms_depth2_text:hover span em,
.sub_visual .cms_depth2 .cms_depth2_list .cms_depth2_item.active .cms_depth2_text span em{transform:translateY(-2px);}
.sub_visual .add_box{display:block;position:absolute;z-index:1;bottom:0;right:calc(((100% - 1500px) / 2) + 29px);width:auto;font-size:0;line-height:0;box-sizing:border-box;transform:translateY(-50%);opacity:0;transition-property:transform, opacity;transition-duration:600ms;transition-delay:1000ms;transition-timing-function:cubic-bezier(.52,.08,.04,1.18);}
.header_ani .sub_visual .add_box{transform:translateY(0px);opacity:1;}
.sub_visual .add_box .add_item{display:inline-block;position:relative;width:auto;margin-left:2px;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.sub_visual .add_box .add_item:first-child{margin-left:0;}
.sub_visual .add_box .add_item .share_btn{display:inline-block;position:relative;z-index:1;width:41px;height:41px;border-width:1px;border-style:solid;border-color:transparent;border-radius:100%;background-color:transparent;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;transition-property:border-color, background-color;transition-duration:400ms;transition-timing-function:cubic-bezier(.52,.08,.04,1.18);}
.sub_visual .add_box .add_item .share_btn:hover,
.sub_visual .add_box .add_item.active .share_btn{border-color:#0053a0;background-color:#fff;}
.sub_visual .add_box .add_item .share_btn:before{display:block;position:absolute;background-image:url(../images/sub/sub_add_icons.png);background-repeat:no-repeat;content:'';box-sizing:border-box;}
.sub_visual .add_box .add_item.print .share_btn:before{top:calc(50% - 8px);left:calc(50% - 9px);width:18px;height:16px;background-position:left -60px;}
.sub_visual .add_box .add_item.print.active .share_btn:before,
.sub_visual .add_box .add_item.print .share_btn:hover:before{background-position:-30px -60px;}
.sub_visual .add_box .add_item.share .share_btn:before{top:calc(50% - 9px);left:calc(50% - 8.5px);width:17px;height:18px;background-position:left -30px;}
.sub_visual .add_box .add_item.share.active .share_btn:before,
.sub_visual .add_box .add_item.share .share_btn:hover:before{background-position:-30px -30px;}
.sub_visual .add_box .add_item.share .share_list{display:none;position:absolute;top:20px;left:0;width:100%;padding:34px 0 20px;background-color:#0254a1;border-radius:0 0 20px 20px;font-size:0;line-height:0;box-sizing:border-box;}
.sub_visual .add_box .add_item.share .share_list .share_item{display:block;position:relative;width:100%;margin-top:9px;font-size:0;line-height:0;box-sizing:border-box;}
.sub_visual .add_box .add_item.share .share_list .share_item .share_link{display:block;position:relative;width:100%;height:26px;border:0;background-color:transparent;font-size:0;line-height:0;box-sizing:border-box;}
.sub_visual .add_box .add_item.share .share_list .share_item .share_link:before{display:block;position:absolute;background-image:url(../images/sub/sub_add_icons.png);background-repeat:no-repeat;content:'';box-sizing:border-box;}
.sub_visual .add_box .add_item.share .share_list .share_item.twitter .share_link:before{top:2px;left:calc(50% - 9px);width:18px;height:16px;background-position:left -90px;}
.sub_visual .add_box .add_item.share .share_list .share_item.facebook .share_link:before{top:0;left:calc(50% - 5px);width:10px;height:20px;background-position:-30px -90px;}
.sub_visual .add_box .add_item.share .share_list .share_item.instagram .share_link:before{top:0;left:calc(50% - 10px);width:20px;height:20px;background-position:-60px -90px;}
.sub_visual .add_box .add_item.share .share_list .share_item.kakao .share_link:before{top:4px;left:calc(50% - 9.5px);width:19px;height:17px;background-position:-90px -90px;}
.sub_visual .add_box .add_item.share .share_list .share_item.copy .share_link:before{top:3px;left:calc(50% - 8px);width:16px;height:19px;background-position:-120px -90px;}
@media screen and (max-width:1500px){
    .sub_visual .visual_path_box{padding:178px 3% 0;}
    .sub_visual .cms_depth2{padding:0 3%;}
    .sub_visual .cms_depth2:before{width:88%;}
    .sub_visual .cms_depth2:after{width:100%;}
    .sub_visual .cms_depth2 .home_link{left:3%;}
    .sub_visual .cms_depth2 .cms_depth2_list{max-width:100%;padding-right:12%;padding-left:60px;}
    .sub_visual .add_box{right:3%;}
}
@media screen and (max-width:1000px){
    .sub_visual .visual_path_box{position:relative;min-height:290px;padding-top:87px;padding-bottom:126px;}
    .sub_visual .visual_path_box .path_title{font-size:36px;line-height:38px;}
    .sub_visual .visual_path_box .path_list{margin-top:19px;}
    .sub_visual .visual_path_box .path_list .path_item{margin-right:12px;padding-right:15px;}
    .sub_visual .visual_path_box .path_list .path_item:before{top:5px;width:7px;height:13px;background-position:-60px -30px;}
    .sub_visual .visual_path_box .path_list .path_item .path_link{font-size:16px;line-height:20px;}
    .sub_visual .visual_path_box .path_list .path_item.home .path_link{width:28px;}
    .sub_visual .visual_path_box .path_list .path_item.home .path_link:before{top:calc(50% - 6.5px);left:calc(50% - 7px);width:14px;height:13px;background-position:left -30px;}
    .sub_visual .visual_path_box .path_list .path_item.home .path_link:hover:before{top:calc(50% - 6.5px);left:calc(50% - 7px);width:14px;height:13px;background-position:left -30px;}
    .sub_visual .visual_img_box{position:absolute;top:0;left:0;width:100%;height:100%;min-height:0;}
    .sub_visual .cms_depth2{height:97px;}
    .sub_visual .cms_depth2:before{display:none;}
    .sub_visual .cms_depth2:after{bottom:-41px;width:97%;height:82px;border-radius:0px 30px 30px 0px;}
    .sub_visual .cms_depth2 .home_link{top:0;left:calc(3% + 12px);width:36px;height:36px;}
    .sub_visual .cms_depth2 .home_link:after{display:none;}
    .sub_visual .cms_depth2 .cms_depth2_list{display:none;}
    .sub_visual .add_box{bottom:-6px;right:calc(3% + 21px);}
    .sub_visual .add_box .add_item{margin-left:4px;}
}
@media screen and (max-width:640px){
    .sub_visual .visual_path_box{padding-top:93px;padding-bottom:133px;}
    .sub_visual .visual_path_box .path_title{font-size:30px;line-height:34px;}
    .sub_visual .visual_path_box .path_list{margin-top:12px;}
    .sub_visual .visual_path_box .path_list .path_item{margin-right:10px;padding-right:14px;}
    .sub_visual .visual_path_box .path_list .path_item:before{top:3px;}
    .sub_visual .visual_path_box .path_list .path_item .path_link{font-size:14px;line-height:18px;}
    .sub_visual .visual_path_box .path_list .path_item.home .path_link{width:18px;}
    .sub_visual .visual_path_box .path_list .path_item.home .path_link:before{top:calc(50% - 6px);left:calc(50% - 6px);width:12px;height:12px;background-position:left -60px;}
    .sub_visual .visual_path_box .path_list .path_item.home .path_link:hover:before{top:calc(50% - 6px);left:calc(50% - 6px);width:12px;height:12px;background-position:left -60px;}
    .sub_visual .cms_depth2{height:88px;}
    .sub_visual .cms_depth2 .home_link{left:3%;width:32px;height:32px;}
    .sub_visual .cms_depth2 .home_link:before{top:calc(50% - 6.5px);left:calc(50% - 8.5px);width:17px;height:13px;background-position:-30px -60px;}
    .sub_visual .add_box{right:calc(3% + 16px);}
    .sub_visual .add_box .add_item.share .share_list{padding:20px 0;}
    .sub_visual .add_box .add_item.print{display:none;}
}
@media print {
    @page{size:21cm 27cm;margin:0mm;}
    #header,
    .sub_visual,
    #footer{display:none !important;}
    #container .wrap,
    #container .wrap main,
    #container .wrap main article{width:100% !important;}
    #container .wrap main article .sub_head{padding:10px 0 !important;}
    #container .wrap main article .sub_head .cms_depth3{display:none !important;}
    #contents{margin:40px 0 !important;padding:10px !important;}
}
/* sub_visual 끝 */


/* container 공통 시작 */
#container .wrap main,
#container .wrap main article{display:block;width:100%;box-sizing:border-box;}
@media screen and (min-width:1501px){
    #container .wrap{width:1500px;}
}
@media screen and (min-width:1001px) and (max-width:1500px){
    #container .wrap{width:94%;}
}
/* container 공통 끝 */


/* sub_head 시작 */
.sub_head{display:block;position:relative;width:100%;padding-top:89px;font-size:0;line-height:0;box-sizing:border-box;}
.sub_head .top_box{display:block;position:relative;width:100%;font-size:0;line-height:0;box-sizing:border-box;text-align:center;}
.sub_head .top_box .title{display:inline-block;position:relative;font-size:48px;color:#000;line-height:70px;letter-spacing:-0.05em;font-weight:600;font-family:'CJK';vertical-align:top;box-sizing:border-box;}
.sub_head .cms_depth3{display:block;position:relative;width:100%;margin-top:64px;font-size:0;line-height:0;box-sizing:border-box;}
.sub_head .cms_depth3 .cms_depth3_list{display:block;position:relative;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.sub_head .cms_depth3 .cms_depth3_list .cms_depth3_item{display:inline-block;position:relative;width:20%;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;text-align:center;}
.sub_head .cms_depth3 .cms_depth3_list .cms_depth3_item:before{display:block;position:absolute;top:20px;right:0;width:1px;height:20px;background-color:#999;content:'';box-sizing:border-box;}
.sub_head .cms_depth3 .cms_depth3_list .cms_depth3_item:nth-child(5n):before{display:none;}
.sub_head .cms_depth3.cms_divide4 .cms_depth3_list .cms_depth3_item{width:25%;}
.sub_head .cms_depth3.cms_divide4 .cms_depth3_list .cms_depth3_item:nth-child(4n):before{display:none;}
.sub_head .cms_depth3.cms_divide3 .cms_depth3_list .cms_depth3_item{width:33.33%;}
.sub_head .cms_depth3.cms_divide3 .cms_depth3_list .cms_depth3_item:nth-child(3n):before{display:none;}
.sub_head .cms_depth3.cms_divide2 .cms_depth3_list .cms_depth3_item{width:50%;}
.sub_head .cms_depth3.cms_divide2 .cms_depth3_list .cms_depth3_item:nth-child(2n):before{display:none;}
.sub_head .cms_depth3.cms_divide1 .cms_depth3_list .cms_depth3_item{width:100%;}
.sub_head .cms_depth3.cms_divide1 .cms_depth3_list .cms_depth3_item:before{display:none;}
.sub_head .cms_depth3 .cms_depth3_list .cms_depth3_item .cms_depth3_text{display:inline-block;position:relative;width:auto;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.sub_head .cms_depth3 .cms_depth3_list .cms_depth3_item .cms_depth3_text span{display:inline-block;position:relative;width:auto;height:60px;font-size:0;line-height:0;box-sizing:border-box;}
.sub_head .cms_depth3 .cms_depth3_list .cms_depth3_item .cms_depth3_text span em{display:inline-block;position:relative;top:50%;transform:translateY(-50%);font-size:18px;color:#000;line-height:30px;letter-spacing:-0.03em;font-weight:200;font-family:'CJK';word-break:keep-all;box-sizing:border-box;transition-property:color;transition-duration:400ms;transition-timing-function:cubic-bezier(.52,.08,.04,1.18);}
.sub_head .cms_depth3 .cms_depth3_list .cms_depth3_item.active .cms_depth3_text span em,
.sub_head .cms_depth3 .cms_depth3_list .cms_depth3_item .cms_depth3_text:hover span em{color:#0053a0;font-weight:600;}
.sub_head .cms_depth3 .cms_depth3_list .cms_depth3_item .cms_depth3_text span em:before{display:block;position:absolute;top:-4px;left:calc(100% + 1px);width:6px;height:6px;border-radius:100%;background-color:#0053a0;content:'';box-sizing:border-box;transform:scale(0);transition-property:transform;transition-duration:400ms;transition-timing-function:cubic-bezier(.52,.08,.04,1.18);}
.sub_head .cms_depth3 .cms_depth3_list .cms_depth3_item.active .cms_depth3_text span em:before,
.sub_head .cms_depth3 .cms_depth3_list .cms_depth3_item .cms_depth3_text:hover span em:before{transform:scale(1);}
.sub_head .cms_depth3 .cms_depth3_list .cms_depth3_item .cms_depth3_text[target="_blank"] span em:after{display:inline-block;position:relative;width:16px;height:16px;margin-top:7px;margin-left:4px;background-image:url(../images/sub/sub_cms_depth_icons.png);background-repeat:no-repeat;background-position:left top;vertical-align:top;box-sizing:border-box;}
.sub_head .cms_depth3 .cms_depth3_list .cms_depth3_item .cms_depth3_text[target="_blank"]:hover span em:after{background-position:-30px top;}
.sub_head .cms_depth4{display:none;position:relative;width:500%;font-size:0;line-height:0;box-sizing:border-box;text-align:left;}
.sub_head .cms_depth3_item.active .cms_depth4{display:block;}
.sub_head .cms_depth3_item:nth-child(5n-4) .cms_depth4{left:0;}
.sub_head .cms_depth3_item:nth-child(5n-3) .cms_depth4{left:-100%;}
.sub_head .cms_depth3_item:nth-child(5n-2) .cms_depth4{left:-200%;}
.sub_head .cms_depth3_item:nth-child(5n-1) .cms_depth4{left:-300%;}
.sub_head .cms_depth3_item:nth-child(5n) .cms_depth4{left:-400%;}
.sub_head .cms_depth3.cms_divide4 .cms_depth3_list .cms_depth3_item .cms_depth4{width:400%;}
.sub_head .cms_depth3.cms_divide4 .cms_depth3_list .cms_depth3_item:nth-child(4n-3) .cms_depth4{left:0;}
.sub_head .cms_depth3.cms_divide4 .cms_depth3_list .cms_depth3_item:nth-child(4n-2) .cms_depth4{left:-100%;}
.sub_head .cms_depth3.cms_divide4 .cms_depth3_list .cms_depth3_item:nth-child(4n-1) .cms_depth4{left:-200%;}
.sub_head .cms_depth3.cms_divide4 .cms_depth3_list .cms_depth3_item:nth-child(4n) .cms_depth4{left:-300%;}
.sub_head .cms_depth3.cms_divide3 .cms_depth3_list .cms_depth3_item .cms_depth4{width:300%;}
.sub_head .cms_depth3.cms_divide3 .cms_depth3_list .cms_depth3_item:nth-child(3n-2) .cms_depth4{left:0;}
.sub_head .cms_depth3.cms_divide3 .cms_depth3_list .cms_depth3_item:nth-child(3n-1) .cms_depth4{left:-100%;}
.sub_head .cms_depth3.cms_divide3 .cms_depth3_list .cms_depth3_item:nth-child(3n) .cms_depth4{left:-200%;}
.sub_head .cms_depth3.cms_divide2 .cms_depth3_list .cms_depth3_item .cms_depth4{width:200%;}
.sub_head .cms_depth3.cms_divide2 .cms_depth3_list .cms_depth3_item:nth-child(2n-1) .cms_depth4{left:0;}
.sub_head .cms_depth3.cms_divide2 .cms_depth3_list .cms_depth3_item:nth-child(2n) .cms_depth4{left:-100%;}
.sub_head .cms_depth3.cms_divide1 .cms_depth3_list .cms_depth3_item .cms_depth4{left:0;width:100%;}
.sub_head .cms_depth4:before{display:block;position:absolute;top:0;left:0;width:100%;height:100%;background-color:#f6fbff;border-top:1px solid #ccc;border-bottom:1px solid rgba(29, 85, 183, 0.5);box-sizing:border-box;}
.sub_head .cms_depth4 .cms_depth4_list{display:block;position:relative;width:100%;padding:11px 35px 0;font-size:0;line-height:0;box-sizing:border-box;}
.sub_head .cms_depth4 .cms_depth4_list .cms_depth4_item{display:inline-block;position:relative;margin-right:40px;padding-left:16px;padding-bottom:11px;vertical-align:top;box-sizing:border-box;}
.sub_head .cms_depth4 .cms_depth4_list .cms_depth4_item:before{display:block;position:absolute;top:8px;left:0;width:6px;height:6px;background-color:#000;content:'';box-sizing:border-box;}
.sub_head .cms_depth4 .cms_depth4_list .cms_depth4_item .cms_depth4_text{display:inline-block;position:relative;width:auto;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.sub_head .cms_depth4 .cms_depth4_list .cms_depth4_item .cms_depth4_text:before{display:block;position:absolute;top:calc(100% + 8px);left:0;width:0px;height:2px;background-color:transparent;content:'';box-sizing:border-box;transition-property:width, background-color;transition-duration:400ms;transition-timing-function:cubic-bezier(.52,.08,.04,1.18);}
.sub_head .cms_depth4 .cms_depth4_list .cms_depth4_item.active .cms_depth4_text:before,
.sub_head .cms_depth4 .cms_depth4_list .cms_depth4_item .cms_depth4_text:hover:before{width:100%;background-color:#1d55b7;}
.sub_head .cms_depth4 .cms_depth4_list .cms_depth4_item .cms_depth4_text span{display:inline-block;position:relative;width:auto;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.sub_head .cms_depth4 .cms_depth4_list .cms_depth4_item .cms_depth4_text span em{display:inline-block;position:relative;width:auto;font-size:16px;color:#000;line-height:22px;letter-spacing:0;font-weight:200;font-family:'CJK';word-break:keep-all;vertical-align:top;box-sizing:border-box;}
.sub_head .cms_depth4 .cms_depth4_list .cms_depth4_item .cms_depth4_text[target="_blank"] span em:after{display:inline-block;position:relative;width:16px;height:16px;margin-top:4px;margin-left:6px;background-image:url(../images/sub/sub_cms_depth_icons.png);background-repeat:no-repeat;background-position:left top;vertical-align:top;box-sizing:border-box;}
@media screen and (max-width:1000px){
    .sub_head{padding-top:40px;padding-bottom:40px;}
    .sub_head .top_box .title{font-size:32px;line-height:44px;}
    .sub_head .cms_depth3{display:none;}
}
@media screen and (max-width:640px){
    .sub_head{padding-top:43px;padding-bottom:38px;}
    .sub_head .top_box .title{line-height:38px;}
}
/* sub_head 끝 */


/* contents 시작 */
#contents{display:block;width:100%;min-height:1000px;margin-top:80px;margin-bottom:100px;box-sizing:border-box;}
@media screen and (max-width:1000px){
    #contents{min-height:500px;margin-top:0;margin-bottom:50px;}
}
/* contents 끝 */