@charset "UTF-8";

/* ㈜한신정보기술 이재홍 - 2024.04 */

/* common - S */
body{font-family:'WantedSans','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;letter-spacing:-0.03em;}
/* common - E */

/* template copy - S */
/* 일반 버튼(.temp_btn) */
.temp_btn{display:inline-block;position:relative;width:auto;border:1px solid #073673;background-color:#073673;border-radius:5px;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;transition-property:border, background-color;transition-duration:300ms;transition-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);}
.temp_btn:hover{background-color:#fff;}
.temp_btn .btn{display:inline-block;position:relative;z-index:2;min-width:218px;min-height:58px;padding:14px 30px;border:none;font-size:17px;color:#fff;line-height:30px;letter-spacing:-0.03em;font-weight:700;font-family:'WantedSans','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;vertical-align:top;box-sizing:border-box;text-align:center;transform:rotateX(0deg);transition-property:color, transform;transition-duration:500ms;transition-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);}
.temp_btn:hover .btn, .temp_btn .btn:hover{color:#073673;transform:rotateX(360deg);}
.temp_btn.medium .btn{min-width:173px;min-height:46px;padding:11px 25px;font-size:15px;line-height:24px;font-weight:500;}
.temp_btn.small .btn{min-width:138px;min-height:36px;padding:6px 20px;font-size:14px;line-height:24px;font-weight:400;}
.temp_btn.auto_btn .btn{min-width:auto !important;}
.temp_btn:focus-visible,
.temp_btn .btn:focus-visible{outline:2px solid orange;}
.temp_btn .btn{text-decoration:none;}
@media all and (max-width:1000px) {
    .temp_btn .btn{min-width:173px;min-height:46px;padding:11px 25px;font-size:15px;line-height:24px;font-weight:500;}
}
@media all and (max-width:640px) {
    .temp_btn .btn{min-width:138px;min-height:36px;padding:6px 20px;font-size:14px;line-height:24px;font-weight:400;}
    .temp_btn.medium .btn{min-width:138px;min-height:36px;padding:6px 20px;font-size:14px;line-height:24px;font-weight:400;}
}
/* 아이콘 및 파일 버튼 공통 */
.temp_btn.icon_type .btn,
.temp_btn.file_type .btn{color:transparent;text-align:left;transform:none;transition:none;}
.temp_btn.icon_type .move_text,
.temp_btn.file_type .move_text{display:block;position:absolute;z-index:0;top:50%;transform:translateY(-50%);left:30px;font-size:17px;color:#fff;line-height:30px;letter-spacing:-0.03em;font-weight:700;font-family:'WantedSans','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;white-space:nowrap;vertical-align:top;box-sizing:border-box;transition-property:left, color;transition-duration:500ms;transition-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);}
.temp_btn.icon_type:hover .move_text,
.temp_btn.file_type:hover .move_text{color:#073673;}
.temp_btn.icon_type.medium .move_text,
.temp_btn.file_type.medium .move_text{left:25px;font-size:15px;line-height:24px;font-weight:500;}
.temp_btn.icon_type.small .move_text,
.temp_btn.file_type.small .move_text{left:20px;font-size:14px;line-height:24px;font-weight:400;}
.temp_btn.icon_type .btn:focus + .move_text,
.temp_btn.file_type .btn:focus + .move_text{color:orange;text-decoration:none;}
@media all and (min-width:1001px) {
    .temp_btn.icon_type .btn,
    .temp_btn.file_type .btn{padding-right:50px;}
    .temp_btn.icon_type:hover .btn,
    .temp_btn.file_type:hover .btn{padding-left:50px;padding-right:30px;}
    .temp_btn.icon_type.medium .btn,
    .temp_btn.file_type.medium .btn{padding-right:40px;}
    .temp_btn.icon_type.medium:hover .btn,
    .temp_btn.file_type.medium:hover .btn{padding-left:40px;padding-right:25px;}
    .temp_btn.icon_type.small .btn,
    .temp_btn.file_type.small .btn{padding-right:35px;}
    .temp_btn.icon_type.small:hover .btn,
    .temp_btn.file_type.small:hover .btn{padding-left:35px;padding-right:20px;}
}
@media all and (max-width:1000px) {
    .temp_btn.icon_type .btn,
    .temp_btn.file_type .btn{padding-right:40px;color:#fff;}
    .temp_btn.icon_type:hover .btn,
    .temp_btn.file_type:hover .btn{color:#073673;}
    .temp_btn.icon_type .move_text,
    .temp_btn.file_type .move_text{display:none;}
    .temp_btn.icon_type.medium .btn,
    .temp_btn.file_type.medium .btn{padding-right:35px;}
}
@media all and (max-width:640px) {
    .temp_btn.icon_type .btn,
    .temp_btn.file_type .btn{padding-right:35px;}
}
/* 아이콘 버튼(.temp_btn.icon_type) */
.temp_btn.icon_type:before,
.temp_btn.icon_type:after{display:block;position:absolute;background:url(../images/temp_btn_icons.png) no-repeat left top;content:'';box-sizing:border-box;}
.temp_btn.icon_type:before{left:0px;opacity:0;visibility:hidden;transition:left, opacity, visibility;transition-duration:600ms;transition-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);}
.temp_btn.icon_type:after{right:25px;opacity:1;visibility:visible;transition:right, opacity, visibility;transition-duration:600ms;transition-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);}
.temp_btn.icon_type.arrow:before{top:calc((100% - 13px) / 2);width:9px;height:13px;background-position:0 0;}
.temp_btn.icon_type.down:before{top:calc((100% - 18px) / 2);width:18px;height:18px;background-position:-20px 0;}
.temp_btn.icon_type.search:before{top:calc((100% - 18px) / 2);width:19px;height:18px;background-position:-40px 0;}
.temp_btn.icon_type.blank:before{top:calc((100% - 19px) / 2);width:19px;height:19px;background-position:-60px 0;}
.temp_btn.icon_type.share:before{top:calc((100% - 16px) / 2);width:19px;height:16px;background-position:-80px 0;}
.temp_btn.icon_type.print:before{top:calc((100% - 20px) / 2);width:20px;height:20px;background-position:-100px 0;}
.temp_btn.icon_type.preview:before{top:calc((100% - 17px) / 2);width:17px;height:17px;background-position:-120px 0;}
.temp_btn.icon_type.arrow:after{top:calc((100% - 13px) / 2);width:9px;height:13px;background-position:0 -20px;}
.temp_btn.icon_type.down:after{top:calc((100% - 18px) / 2);width:18px;height:18px;background-position:-20px -20px;}
.temp_btn.icon_type.search:after{top:calc((100% - 18px) / 2);width:19px;height:18px;background-position:-40px -20px;}
.temp_btn.icon_type.blank:after{top:calc((100% - 19px) / 2);width:19px;height:19px;background-position:-60px -20px;}
.temp_btn.icon_type.share:after{top:calc((100% - 16px) / 2);width:19px;height:16px;background-position:-80px -20px;}
.temp_btn.icon_type.print:after{top:calc((100% - 20px) / 2);width:20px;height:20px;background-position:-100px -20px;}
.temp_btn.icon_type.preview:after{top:calc((100% - 17px) / 2);width:17px;height:17px;background-position:-120px -20px;}
.temp_btn.icon_type:hover:before{left:25px;opacity:1;visibility:visible;}
.temp_btn.icon_type:hover:after{right:0px;opacity:0;visibility:hidden;}
.temp_btn.icon_type.medium:before{left:0px;transform:scale(0.85);transform-origin:left center;}
.temp_btn.icon_type.medium:hover:before{left:20px;}
.temp_btn.icon_type.medium:after{right:20px;transform:scale(0.85);transform-origin:right center;}
.temp_btn.icon_type.medium:hover:after{right:0px;}
.temp_btn.icon_type.small:before{left:0px;transform:scale(0.7);transform-origin:left center;}
.temp_btn.icon_type.small:hover:before{left:18px;}
.temp_btn.icon_type.small:after{right:18px;transform:scale(0.7);transform-origin:right center;}
.temp_btn.icon_type.small:hover:after{right:0px;}
.temp_btn.icon_type.medium.preview:before,
.temp_btn.icon_type.medium.preview:after{transform:scale(1);}
.temp_btn.icon_type.small.preview:before,
.temp_btn.icon_type.small.preview:after{transform:scale(0.85);}
@media all and (max-width:1000px) {
    .temp_btn.icon_type:before{left:auto;right:0px;transform:scale(0.85);transform-origin:right center;transition:right, opacity, visibility;transition-duration:600ms;transition-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);}
    .temp_btn.icon_type:hover:before{left:auto;right:20px;}
    .temp_btn.icon_type:after{right:20px;transform:scale(0.85);transform-origin:right center;}
    .temp_btn.icon_type:hover:after{right:0px;}
    .temp_btn.icon_type.medium:before{left:auto;right:0px;transform:scale(0.85);transform-origin:right center;}
    .temp_btn.icon_type.medium:hover:before{left:auto;right:20px;}
    .temp_btn.icon_type.small:before{left:auto;right:0px;transform:scale(0.7);transform-origin:right center;}
    .temp_btn.icon_type.small:hover:before{left:auto;right:18px;}
    .temp_btn.icon_type.preview:before,
    .temp_btn.icon_type.preview:after,
    .temp_btn.icon_type.medium.preview:before,
    .temp_btn.icon_type.medium.preview:after{transform:scale(1);}
}
@media all and (max-width:640px) {
    .temp_btn.icon_type:before{right:0px;transform:scale(0.7);transform-origin:right center;}
    .temp_btn.icon_type:hover:before{left:auto;right:18px;}
    .temp_btn.icon_type:after{right:18px;transform:scale(0.7);transform-origin:right center;}
    .temp_btn.icon_type:hover:after{right:0px;}
    .temp_btn.icon_type.medium:before{right:0px;transform:scale(0.7);transform-origin:right center;}
    .temp_btn.icon_type.medium:hover:before{left:auto;right:18px;}
    .temp_btn.icon_type.medium:after{right:18px;transform:scale(0.7);transform-origin:right center;}
    .temp_btn.icon_type.medium:hover:after{right:0px;}
    .temp_btn.icon_type.preview:before,
    .temp_btn.icon_type.preview:after,
    .temp_btn.icon_type.medium.preview:before,
    .temp_btn.icon_type.medium.preview:after{transform:scale(0.85);}
}
/* 호버효과 버튼(.temp_btn.hover~~) */
.temp_btn.hover{background-color:#fff;}
.temp_btn.hover:hover{background-color:#073673;}
.temp_btn.hover .btn{color:#073673;}
.temp_btn.hover:hover .btn, .temp_btn.hover .btn:hover{color:#fff;}
/* 호버효과 아이콘 및 파일 버튼 공통 */
.temp_btn.hover.icon_type .btn,
.temp_btn.hover.file_type .btn{color:transparent;}
.temp_btn.hover.icon_type .move_text,
.temp_btn.hover.file_type .move_text{color:#073673;}
.temp_btn.hover.icon_type:hover .move_text,
.temp_btn.hover.file_type:hover .move_text{color:#fff;}
@media all and (max-width:1000px) {
    .temp_btn.hover.icon_type .btn,
    .temp_btn.hover.file_type .btn{color:#073673;}
    .temp_btn.hover.icon_type:hover .btn,
    .temp_btn.hover.file_type:hover .btn{color:#fff;}
}
/* 호버효과 아이콘 버튼(.temp_btn.hover.icon_type) */
.temp_btn.hover.icon_type.arrow:before{top:calc((100% - 13px) / 2);width:9px;height:13px;background-position:0 -20px;}
.temp_btn.hover.icon_type.down:before{top:calc((100% - 18px) / 2);width:18px;height:18px;background-position:-20px -20px;}
.temp_btn.hover.icon_type.search:before{top:calc((100% - 18px) / 2);width:19px;height:18px;background-position:-40px -20px;}
.temp_btn.hover.icon_type.blank:before{top:calc((100% - 19px) / 2);width:19px;height:19px;background-position:-60px -20px;}
.temp_btn.hover.icon_type.share:before{top:calc((100% - 16px) / 2);width:19px;height:16px;background-position:-80px -20px;}
.temp_btn.hover.icon_type.print:before{top:calc((100% - 20px) / 2);width:20px;height:20px;background-position:-100px -20px;}
.temp_btn.hover.icon_type.preview:before{top:calc((100% - 17px) / 2);width:17px;height:17px;background-position:-120px -20px;}
.temp_btn.hover.icon_type.arrow:after{top:calc((100% - 13px) / 2);width:9px;height:13px;background-position:0 0;}
.temp_btn.hover.icon_type.down:after{top:calc((100% - 18px) / 2);width:18px;height:18px;background-position:-20px 0;}
.temp_btn.hover.icon_type.search:after{top:calc((100% - 18px) / 2);width:19px;height:18px;background-position:-40px 0;}
.temp_btn.hover.icon_type.blank:after{top:calc((100% - 19px) / 2);width:19px;height:19px;background-position:-60px 0;}
.temp_btn.hover.icon_type.share:after{top:calc((100% - 16px) / 2);width:19px;height:16px;background-position:-80px 0;}
.temp_btn.hover.icon_type.print:after{top:calc((100% - 20px) / 2);width:20px;height:20px;background-position:-100px 0;}
.temp_btn.hover.icon_type.preview:after{top:calc((100% - 17px) / 2);width:17px;height:17px;background-position:-120px 0;}
/* template copy - E */

/* campus map - S */
/* header - S */
#header{display:block;width:100%;box-sizing:border-box;}
.header_box{display:block;width:100%;padding:36px 62px 36px 30px;background-color:#086dcd;font-size:0;line-height:0;box-sizing:border-box;}
.header_box:after{display:block;width:100%;height:0;font-size:0;line-height:0;clear:both;content:'';}
.header_box .logo{display:block;float:left;}
.header_box .logo .logo_link{display:block;font-size:0;line-height:0;}
.header_box .logo .logo_link .logo_con{display:inline-block;vertical-align:top;}
.header_box .logo .logo_link .logo_con.con_img{width:227px;height:48px;background-image:url(../images/logo.png);background-size:contain;background-position:center center;background-repeat:no-repeat;}
.header_box .logo .logo_link .logo_con.con_text{margin-left:10px;font-weight:700;font-size:26px;line-height:38px;color:#fff;}
.header_box .header_link{display:block;float:right;}
@media all and (max-width:1470px) {
    .header_box{padding:31px 50px 31px 25px;}
}
@media all and (max-width:1000px) {
    .header_box{padding:27px 35px 27px 20px;}
    .header_box .logo .logo_link .logo_con.con_img{width:170px;height:36px;}
    .header_box .logo .logo_link .logo_con.con_text{margin-left:5px;font-size:20px;line-height:28px;}
    .header_box .header_link .btn{min-width:138px;min-height:36px;padding:6px 20px;font-size:14px;line-height:24px;}
}
@media all and (max-width:640px) {
    .header_box{padding:22px 20px 22px 15px;}
    .header_box .logo .logo_link .logo_con.con_img{width:141px;height:30px;}
    .header_box .logo .logo_link .logo_con.con_text{font-size:15px;line-height:22px;}
    .header_box .header_link .btn{min-width:100px;min-height:30px;padding:5px 15px;font-size:13px;line-height:20px;}
}
/* header - E */
/* container - S */
.map_content_wrap{display:block;position:relative;width:100%;height:calc(100vh - 120px);font-size:0;line-height:0;}
@media all and (max-width:1470px) {
    .map_content_wrap{height:calc(100vh - 110px);}
}
@media all and (max-width:1000px) {
    .map_content_wrap{height:calc(100vh - 90px);}
}
@media all and (max-width:640px) {
    .map_content_wrap{height:calc(100vh - 76px);}
}
/* side - S */
.map_content_wrap .map_info_wrap{display:inline-block;position:relative;width:402px;height:100%;margin-left:0;border-right:solid 2px #086dcd;vertical-align:top;transition:margin-left 0.3s;}
.map_content_wrap .map_info_wrap form{height:100%;}
.map_content_wrap .map_info_wrap form fieldset{height:100%;}
.map_content_wrap .map_info_wrap .search_box{display:block;width:100%;padding:30px;background-color:#eaf5fe;font-size:0;line-height:0;box-sizing:border-box;}
.map_content_wrap .map_info_wrap .search_box .input_box{display:inline-block;width:calc(100% - 60px);vertical-align:top;}
.map_content_wrap .map_info_wrap .search_box .input_box input[type="text"]{display:block;width:100%;height:50px;padding:0 20px;border:solid 1px #086dcd;background-color:#fff;font-weight:500;font-size:18px;line-height:26px;box-sizing:border-box;}
.map_content_wrap .map_info_wrap .search_box .button_box.submit{display:inline-block;margin-left:10px;vertical-align:top;}
.map_content_wrap .map_info_wrap .search_box .button_box.submit .btn{display:block;position:relative;width:50px;height:50px;border-radius:3px;border:none;background-color:#073673;}
.map_content_wrap .map_info_wrap .search_box .button_box.submit .btn:before{display:block;position:absolute;left:calc(50% - 11px);top:calc(50% - 11px);width:22px;height:22px;background-image:url(../images/campusmap_icon_sprite.png);background-size:600%;background-position:0 0;}
.map_content_wrap .map_info_wrap .info_box{display:block;width:100%;height:calc(100% - 110px);}
.firefox .map_content_wrap .map_info_wrap .info_box{scrollbar-color:#086dcd #e4e7e9;}
.map_content_wrap .map_info_wrap .info_box .info_list{display:block;overflow:auto;width:100%;height:100%;}
.map_content_wrap .map_info_wrap .info_box .info_list::-webkit-scrollbar{width:12px;}
.map_content_wrap .map_info_wrap .info_box .info_list::-webkit-scrollbar-track{background-color:#e4e7e9;}
.map_content_wrap .map_info_wrap .info_box .info_list::-webkit-scrollbar-thumb{background-color:#086dcd;}
.map_content_wrap .map_info_wrap .info_box .info_list .info_item{display:block;width:100%;}
.map_content_wrap .map_info_wrap .info_box .info_list .info_item .link{display:block;position:relative;width:100%;padding:20px 0 20px 76px;background-color:#fff;transition:background-color 0.3s;}
.map_content_wrap .map_info_wrap .info_box .info_list .info_item .link.active{background-color:#073673;}
.map_content_wrap .map_info_wrap .info_box .info_list .info_item .link:before{display:block;position:absolute;left:0;bottom:0;width:100%;height:1px;background-color:#eee;}
.map_content_wrap .map_info_wrap .info_box .info_list .info_item .link .number{display:block;position:absolute;left:18px;top:50%;width:32px;height:38px;transform:translateY(-50%);}
.map_content_wrap .map_info_wrap .info_box .info_list .info_item .link .number:before{display:block;opacity:1;position:absolute;left:0;top:0;width:100%;height:100%;background-image:url(../images/campusmap_marker_sprite.png);background-size:300%;transition:opacity 0.3s;}
.map_content_wrap .map_info_wrap .info_box .info_list .info_item .link .number:after{display:block;opacity:0;position:absolute;left:0;top:0;width:100%;height:100%;background-image:url(../images/campusmap_marker_sprite.png);background-size:300%;background-position-x:-100%;transition:opacity 0.3s;}
.map_content_wrap .map_info_wrap .info_box .info_list .info_item .link.active .number:before{opacity:0;}
.map_content_wrap .map_info_wrap .info_box .info_list .info_item .link.active .number:after{opacity:1;}
.map_content_wrap .map_info_wrap .info_box .info_list .info_item .link .number span{display:block;position:relative;z-index:1;font-weight:500;font-size:14px;line-height:32px;color:#073673;text-align-last:center;vertical-align:top;transition:color 0.3s;}
.map_content_wrap .map_info_wrap .info_box .info_list .info_item .link.active .number span{color:#fff;}
.map_content_wrap .map_info_wrap .info_box .info_list .info_item .link .text{padding-right:36px;width:100%;font-weight:400;font-size:20px;line-height:34px;color:#0e0e0e;box-sizing:border-box;transition:color 0.3s;}
.map_content_wrap .map_info_wrap .info_box .info_list .info_item .link.active .text{color:#fff;}
.map_content_wrap .map_info_wrap .info_box .info_list .info_item .link .text:before{display:block;opacity:1;position:absolute;right:14px;top:50%;width:22px;height:22px;background-image:url(../images/campusmap_icon_sprite.png);background-size:600%;background-position-x:-100%;transform:translateY(-50%);transition:opacity 0.3s;}
.map_content_wrap .map_info_wrap .info_box .info_list .info_item .link .text:after{display:block;opacity:0;position:absolute;right:14px;top:50%;width:22px;height:22px;background-image:url(../images/campusmap_icon_sprite.png);background-size:600%;background-position-x:-100%;background-position-y:-100%;transform:translateY(-50%);transition:opacity 0.3s;}
.map_content_wrap .map_info_wrap .info_box .info_list .info_item .link.active .text:before{opacity:0;}
.map_content_wrap .map_info_wrap .info_box .info_list .info_item .link.active .text:after{opacity:1;}
.map_content_wrap .map_info_wrap .side_open_box{display:block;position:absolute;left:100%;top:calc(50% - 32px);}
.map_content_wrap .map_info_wrap .side_open_box .btn{display:block;position:relative;width:34px;height:64px;border-radius:0 32px 32px 0;border:solid 2px #086dcd;border-left:0;background-color:#fff;}
.map_content_wrap .map_info_wrap .side_open_box .btn:before{display:block;position:absolute;left:calc(50% - 13px);top:calc(50% - 11px);width:22px;height:22px;background-image:url(../images/campusmap_icon_sprite.png);background-size:600%;background-position-x:-200%;transform:rotate(0deg);transition:transform 0.3s;}
@media all and (max-width:1470px) {
    .map_content_wrap .map_info_wrap{width:352px;}
    .map_content_wrap .map_info_wrap .search_box{padding:25px;}
    .map_content_wrap .map_info_wrap .search_box .input_box{width:calc(100% - 55px);}
    .map_content_wrap .map_info_wrap .search_box .input_box input[type="text"]{height:45px;font-size:17px;}
    .map_content_wrap .map_info_wrap .search_box .button_box.submit .btn{width:45px;height:45px;}
    .map_content_wrap .map_info_wrap .search_box .button_box.submit .btn:before{left:calc(50% - 10px);top:calc(50% - 10px);width:20px;height:20px;}
    .map_content_wrap .map_info_wrap .info_box{height:calc(100% - 95px);}
    .map_content_wrap .map_info_wrap .info_box .info_list::-webkit-scrollbar{width:10px;}
    .map_content_wrap .map_info_wrap .info_box .info_list .info_item .link{padding:18px 0 18px 60px;}
    .map_content_wrap .map_info_wrap .info_box .info_list .info_item .link .number{left:15px;width:30px;height:36px;}
    .map_content_wrap .map_info_wrap .info_box .info_list .info_item .link .number span{font-size:13px;line-height:31px;}
    .map_content_wrap .map_info_wrap .info_box .info_list .info_item .link .text{padding-right:35px;font-size:19px;line-height:32px;}
    .map_content_wrap .map_info_wrap .info_box .info_list .info_item .link .text:before{right:13px;width:20px;height:20px;}
    .map_content_wrap .map_info_wrap .info_box .info_list .info_item .link .text:after{right:13px;width:20px;height:20px;}
    .map_content_wrap .map_info_wrap .side_open_box{top:calc(50% - 31px);}
    .map_content_wrap .map_info_wrap .side_open_box .btn{width:33px;height:62px;border-radius:0 31px 31px 0;}
    .map_content_wrap .map_info_wrap .side_open_box .btn:before{left:calc(50% - 14px);top:calc(50% - 11px);width:22px;height:22px;}
}
@media all and (max-width:1000px) {
    .map_content_wrap .map_info_wrap{position:absolute;left:0;top:0;width:302px;}
    .map_content_wrap .map_info_wrap .search_box{padding:20px;}
    .map_content_wrap .map_info_wrap .search_box .input_box{width:calc(100% - 50px);}
    .map_content_wrap .map_info_wrap .search_box .input_box input[type="text"]{height:40px;font-size:16px;}
    .map_content_wrap .map_info_wrap .search_box .button_box.submit .btn{width:40px;height:40px;}
    .map_content_wrap .map_info_wrap .info_box{height:calc(100% - 80px);}
    .map_content_wrap .map_info_wrap .info_box .info_list::-webkit-scrollbar{width:8px;}
    .map_content_wrap .map_info_wrap .info_box .info_list .info_item .link{padding:16px 0 16px 60px;}
    .map_content_wrap .map_info_wrap .info_box .info_list .info_item .link .text{padding-right:35px;font-size:18px;line-height:30px;}
    .map_content_wrap .map_info_wrap .info_box .info_list .info_item .link .text:before{right:12px;width:20px;height:20px;}
    .map_content_wrap .map_info_wrap .info_box .info_list .info_item .link .text:after{right:12px;width:20px;height:20px;}
    .map_content_wrap .map_info_wrap .side_open_box{top:calc(50% - 30px);}
    .map_content_wrap .map_info_wrap .side_open_box .btn{width:32px;height:60px;border-radius:0 30px 30px 0;}
    .map_content_wrap .map_info_wrap .side_open_box .btn:before{left:calc(50% - 13px);top:calc(50% - 10px);width:20px;height:20px;}
}
@media all and (max-width:640px) {
    .map_content_wrap .map_info_wrap{width:282px;}
    .map_content_wrap .map_info_wrap .search_box{padding:15px;}
    .map_content_wrap .map_info_wrap .search_box .input_box{width:calc(100% - 45px);}
    .map_content_wrap .map_info_wrap .search_box .input_box input[type="text"]{height:35px;font-size:15px;}
    .map_content_wrap .map_info_wrap .search_box .button_box.submit .btn{width:35px;height:35px;}
    .map_content_wrap .map_info_wrap .info_box{height:calc(100% - 65px);}
    .map_content_wrap .map_info_wrap .info_box .info_list::-webkit-scrollbar{width:6px;}
    .map_content_wrap .map_info_wrap .info_box .info_list .info_item .link{padding:14px 0 14px 60px;}
    .map_content_wrap .map_info_wrap .info_box .info_list .info_item .link .number{left:10px;width:28px;height:33px;}
    .map_content_wrap .map_info_wrap .info_box .info_list .info_item .link .number span{font-size:12px;line-height:28px;}
    .map_content_wrap .map_info_wrap .info_box .info_list .info_item .link .text{font-size:16px;line-height:26px;}
    .map_content_wrap .map_info_wrap .info_box .info_list .info_item .link .text:before{right:10px;width:18px;height:18px;}
    .map_content_wrap .map_info_wrap .info_box .info_list .info_item .link .text:after{right:10px;width:18px;height:18px;}
    .map_content_wrap .map_info_wrap .side_open_box{top:calc(50% - 28px);}
    .map_content_wrap .map_info_wrap .side_open_box .btn{width:30px;height:56px;border-radius:0 28px 28px 0;}
    .map_content_wrap .map_info_wrap .side_open_box .btn:before{left:calc(50% - 12px);top:calc(50% - 9px);width:18px;height:18px;}
}
/* side - E */
/* map - S */
.map_content_wrap .map_view_wrap{display:inline-block;width:calc(100% - 402px);height:100%;background-color:#fad;vertical-align:top;transition:width 0.3s;}
@media all and (max-width:1470px) {
    .map_content_wrap .map_view_wrap{width:calc(100% - 352px);}
}
@media all and (max-width:1000px) {
    .map_content_wrap .map_view_wrap{display:block;width:100%;}
}
@media all and (max-width:640px) {
}
/* map - E */
/* side effect - S */
.map_content_wrap.side_closed .map_info_wrap{margin-left:-400px;}
.map_content_wrap.side_closed .map_info_wrap .side_open_box .btn:before{transform:rotate(180deg);}
.map_content_wrap.side_closed .map_view_wrap{width:calc(100% - 2px);}
@media all and (max-width:1470px) {
    .map_content_wrap.side_closed .map_info_wrap{margin-left:-350px;}
}
@media all and (max-width:1000px) {
    .map_content_wrap.side_closed .map_info_wrap{margin-left:-300px;}
    .map_content_wrap.side_closed .map_view_wrap{width:100%;}
}
@media all and (max-width:640px) {
    .map_content_wrap.side_closed .map_info_wrap{margin-left:-280px;}
}
/* side effect - E */
/* container - E */
/* campus map - E */
