@charset "utf-8";

/* WantedSans */
@font-face{
    font-family:'WantedSans';
    font-weight:900;
    src:url("../../../common/font/WantedSans-Black.woff2") format('woff2'),
    url("../../../common/font/WantedSans-Black.woff") format('woff');
}
@font-face{
    font-family:'WantedSans';
    font-weight:800;
    src:url("../../../common/font/WantedSans-ExtraBold.woff2") format('woff2'),
    url("../../../common/font/WantedSans-ExtraBold.woff") format('woff');
}
@font-face{
    font-family:'WantedSans';
    font-weight:700;
    src:url("../../../common/font/WantedSans-SemiBold.woff2") format('woff2'),
    url("../../../common/font/WantedSans-SemiBold.woff") format('woff');
}
@font-face{
    font-family:'WantedSans';
    font-weight:600;
    src:url("../../../common/font/WantedSans-Bold.woff2") format('woff2'),
    url("../../../common/font/WantedSans-Bold.woff") format('woff');
}
@font-face{
    font-family:'WantedSans';
    font-weight:500;
    src:url("../../../common/font/WantedSans-Medium.woff2") format('woff2'),
    url("../../../common/font/WantedSans-Medium.woff") format('woff');
}
@font-face{
    font-family:'WantedSans';
    font-weight:400;
    src:url("../../../common/font/WantedSans-Regular.woff2") format('woff2'),
    url("../../../common/font/WantedSans-Regular.woff") format('woff');
}

/* Freesentation */
@font-face{
    font-family:'Freesentation';
    font-weight:500;
    src:url("../../../common/font/Freesentation-5Medium.woff") format('woff');
}