@charset "UTF-8";

/* CJK */
@font-face{
    font-family : 'CJK';
    font-weight : 200;
    src : url("../font/NotoSansCJKkr-Light.woff2") format('woff2'),
    url("../font/NotoSansCJKkr-Light.woff") format('woff');
}
@font-face{
    font-family : 'CJK';
    font-weight : 300;
    src : url("../font/NotoSansCJKkr-DemiLight.woff") format('woff');
}
@font-face{
    font-family : 'CJK';
    font-weight : 400;
    src : url("../font/NotoSansCJKkr-Regular.woff2") format('woff2'),
    url("../font/NotoSansCJKkr-Regular.woff") format('woff');
}
@font-face{
    font-family : 'CJK';
    font-weight : 500;
    src : url("../font/NotoSansCJKkr-Medium.woff2") format('woff2'),
    url("../font/NotoSansCJKkr-Medium.woff") format('woff');
}
@font-face{
    font-family : 'CJK';
    font-weight : 600;
    src : url("../font/NotoSansCJKkr-Bold.woff2") format('woff2'),
    url("../font/NotoSansCJKkr-Bold.woff") format('woff');
}
@font-face{
    font-family : 'CJK';
    font-weight : 800;
    src : url("../font/NotoSansCJKkr-Black.woff2") format('woff2'),
    url("../font/NotoSansCJKkr-Black.woff") format('woff');
}

/* NotoKr */
@font-face{
    font-family : 'NotoKr';
    font-weight : 200;
    src : url("../font/noto-sans-kr-v13-latin_korean-300.woff2") format('woff2'),
    url("../font/noto-sans-kr-v13-latin_korean-300.woff") format('woff');
}
@font-face{
    font-family : 'NotoKr';
    font-weight : 400;
    src : url("../font/noto-sans-kr-v13-latin_korean-regular.woff2") format('woff2'),
    url("../font/noto-sans-kr-v13-latin_korean-regular.woff") format('woff');
}
@font-face{
    font-family : 'NotoKr';
    font-weight : 500;
    src : url("../font/noto-sans-kr-v13-latin_korean-500.woff2") format('woff2'),
    url("../font/noto-sans-kr-v13-latin_korean-500.woff") format('woff');
}
@font-face{
    font-family : 'NotoKr';
    font-weight : 600;
    src : url("../font/noto-sans-kr-v13-latin_korean-700.woff2") format('woff2'),
    url("../font/noto-sans-kr-v13-latin_korean-700.woff") format('woff');
}