@charset "utf-8";

/* WantedSans */
@font-face{
    font-family:'WantedSans';
    font-weight:800;
    src:url("../font/WantedSans-ExtraBold.woff2") format('woff2'),
    url("../font/WantedSans-ExtraBold.woff") format('woff');
}
@font-face{
    font-family:'WantedSans';
    font-weight:700;
    src:url("../font/WantedSans-SemiBold.woff2") format('woff2'),
    url("../font/WantedSans-SemiBold.woff") format('woff');
}
@font-face{
    font-family:'WantedSans';
    font-weight:600;
    src:url("../font/WantedSans-Bold.woff2") format('woff2'),
    url("../font/WantedSans-Bold.woff") format('woff');
}
@font-face{
    font-family:'WantedSans';
    font-weight:500;
    src:url("../font/WantedSans-Medium.woff2") format('woff2'),
    url("../font/WantedSans-Medium.woff") format('woff');
}
@font-face{
    font-family:'WantedSans';
    font-weight:400;
    src:url("../font/WantedSans-Regular.woff2") format('woff2'),
    url("../font/WantedSans-Regular.woff") format('woff');
}

/* Gowun */
@font-face{
    font-family:'Gowun';
    font-weight:400;
    src:url("../font/GowunDodum-Regular.woff") format('woff');
}

/* Sebang */
@font-face{
    font-family:'Sebang';
    font-weight:600;
    src:url("../font/SEBANGGothic-Bold.woff") format('woff');
}
@font-face{
    font-family:'Sebang';
    font-weight:400;
    src:url("../font/SEBANGGothic-Regular.woff") format('woff');
}

/* Poppin */
@font-face{
    font-family:'Poppin';
    font-weight:500;
    src:url("../font/Poppins-Medium.woff") format('woff');
}

/* EB */
@font-face{
    font-family:'EB';
    font-weight:800;
    src:url("../font/EBGaramond-ExtraBold.woff") format('woff');
}
@font-face{
    font-family:'EB';
    font-weight:700;
    src:url("../font/EBGaramond-SemiBold.woff") format('woff');
}
@font-face{
    font-family:'EB';
    font-weight:500;
    src:url("../font/EBGaramond-Medium.woff") format('woff');
}
@font-face{
    font-family:'EB';
    font-weight:400;
    src:url("../font/EBGaramond-MediumItalic.woff") format('woff');
}

/* Lato */
@font-face{
    font-family:'Lato';
    font-weight:200;
    src:url("../font/Lato-Light.woff") format('woff');
}

/* GowunBatang */
@font-face{
    font-family:'GowunBt';
    font-weight:400;
    src:url("../font/GowunBatang-Bold.woff") format('woff');
}