/* (주)한신정보기술 권정현 - 2017.05.22 */

#header .lnb .lnb_wrap .depth1_menu .depth1_list.rule1 .depth1_anchor {padding-right:25px; padding-left:25px;}
#header .lnb .lnb_wrap .depth1_menu .depth1_list.rule2 .depth1_anchor {padding-right:50px; padding-left:50px;}
#header .lnb .lnb_wrap .depth1_menu .depth1_list.rule3 .depth1_anchor {padding-right:30px; padding-left:30px;}
#header .lnb .lnb_wrap .depth1_menu .depth1_list.rule4 .depth1_anchor {padding-right:30px; padding-left:30px;}
#header .lnb .lnb_wrap .depth1_menu .depth1_list.rule5 .depth1_anchor {padding-right:30px; padding-left:30px;}