/* (주)한신정보기술 권정현 - 2017.05.22 */

.underline{text-decoration:underline;}

/* 센터소개 > 센터소개 */
.cts3284 .greeting .titlebpx{margin-bottom:50px; background-repeat:no-repeat; background-position:center center; background-image:url(/site/support/images/contents/cts3284_bg.jpg);}
.cts3284 .greeting .titlebpx p{display:table-cell; width:860px; height:200px; text-align:center; vertical-align:middle; color:#FFF; font-family:'NanumS'; font-size:26px; line-height:32px;}
.cts3284 .greeting .titlebpx p strong{position:relative; margin-right:10px; padding:0 35px; color:#f0ca56;}
.cts3284 .greeting .titlebpx p strong:before {content:'_'; display:block;  position: absolute;  left:0; top:-6px; width:24px; height:21px; background:url(/site/support/images/contents/cts3284_quotes_left.png) no-repeat; font-size:0;}
.cts3284 .greeting .titlebpx p strong:after {content:'_';  display:block;  position: absolute; right:0; top:-6px; width:25px; height:21px; background:url(/site/support/images/contents/cts3284_quotes_right.png) no-repeat; font-size:0;}
.cts3284 .greeting .introduce{background-repeat:no-repeat; background-position:left top; background-image:url(/site/support/images/contents/cts3284_introduce_icon.png); padding-left:140px;}
.cts3284 .greeting .introduce h3{margin:0 0 10px; color:#000; font-size:20px; font-weight:600;}
.cts3284 .greeting .introduce p{line-height:27px; color:#000;}

@media screen and (max-width:480px) {
.cts3284 .greeting .introduce{background-position:center top; padding:140px 3% 0;}
}

/* 센터소개 > 구성원 소개 */
.cts3285 .organization{position:relative; height:339px;}
.cts3285 .organization ul li.depth1_li{background-repeat:repeat-y; background-position:center bottom; background-image:url(/site/support/images/contents/cts3285_organization_line.gif); padding-bottom:157px;}
.cts3285 .organization ul li .listbox{border-radius:14px; width:205px; height:70px;}
.cts3285 .organization ul li.depth1_li .listbox.depth1{background-color:#48362a; margin:auto;}
.cts3285 .organization ul li.depth1_li ul li.list01 .listbox{background-color:#736356;}
.cts3285 .organization ul li.depth1_li ul li.list02 .listbox{background-color:#e85e3d;}
.cts3285 .organization ul li.depth1_li ul li.list03 .listbox{background-color:#e85e3d;}
.cts3285 .organization ul li .listbox p.table-cell{display:table-cell; width:205px; height:70px; text-align:center; vertical-align:middle; color:#FFF; font-family:'NanumS'; font-size:20px; font-weight:600;}
.cts3285 .organization ul li.depth1_li ul li.list01{position:absolute; top:110px; left:50%; padding-left:222px; background:url(/site/support/images/contents/cts3285_organization_line.gif) repeat-x left center;}
.cts3285 .organization ul li.depth1_li ul li.list02{position:absolute; top:227px; right:50%; padding-top:42px; padding-right:127px; background-repeat:no-repeat; background-position:calc(50% + 166px) top; background-image:url(/site/support/images/contents/cts3285_organization_left.png);}
.cts3285 .organization ul li.depth1_li ul li.list03{position:absolute; top:227px; left:50%; padding-top:42px; padding-left:127px; background-repeat:no-repeat; background-position:calc(50% - 166px) top; background-image:url(/site/support/images/contents/cts3285_organization_right.png);}

@media screen and (max-width:800px) {
.cts3285 .organization ul li.depth1_li ul li.list01{width:30%; padding-left:19%;}
.cts3285 .organization ul li.depth1_li ul li.list01 .listbox{width:auto;}
.cts3285 .organization ul li.depth1_li ul li.list01 .listbox p.table-cell{width:228px;}
.cts3285 .organization ul li.depth1_li ul li.list02{width:30%; padding-right:10%;}
.cts3285 .organization ul li.depth1_li ul li.list02 .listbox{width:auto;}
.cts3285 .organization ul li.depth1_li ul li.list02 .listbox p.table-cell{width:228px;}
.cts3285 .organization ul li.depth1_li ul li.list03{width:30%; padding-left:10%;}
.cts3285 .organization ul li.depth1_li ul li.list03 .listbox{width:auto;}
.cts3285 .organization ul li.depth1_li ul li.list03 .listbox p.table-cell{width:228px;}
}

@media screen and (max-width:480px) {
.cts3285 .organization ul li.depth1_li ul li.list01{width:38%; padding-left:9%;}
.cts3285 .organization ul li.depth1_li ul li.list02{width:38%; padding-right:8%; background-position:calc(50% + 214px) top;}
.cts3285 .organization ul li.depth1_li ul li.list03{width:38%; padding-left:8%; background-position:calc(50% - 214px) top;}
}


/* 지원업무 > 교수학습지원 공통 */
.study{position:relative;}
.study .left{position:absolute; top:0; left:0; width:179px; height:190px;}
.study .left .iconbox{background-color:#f3f3f3; border-radius:100px; overflow:hidden;}
.study .left .iconbox .icon{width:179px; height:179px; background-repeat:no-repeat; background-position:center center;}
.study.con01 .left .iconbox .icon{background-image:url(/site/support/images/contents/study_1.png);}
.study.con02 .left .iconbox .icon{background-image:url(/site/support/images/contents/study_2.png);}
.study.con03 .left .iconbox .icon{background-image:url(/site/support/images/contents/study_3.png);}
.study.con04 .left .iconbox .icon{background-image:url(/site/support/images/contents/study_4.png);}
.study.con05 .left .iconbox .icon{background-image:url(/site/support/images/contents/study_5.png);}
.study .left p.title{position:absolute; left:50%; bottom:0; width:99px; margin-left:-60px; padding:7px 10px; border-radius:20px; text-align:center; color:#FFF; font-size:20px; font-weight:600;}
.study.con01 .left p.title{background-color:#9e5aa2;}
.study.con02 .left p.title{background-color:#2a7dc1;}
.study.con03 .left p.title{background-color:#e77232;}
.study.con04 .left p.title{background-color:#603913;}
.study.con05 .left p.title{background-color:#1ca047;}
.study .conbox{padding-left:230px; display:table-cell; width:630px; height:190px; vertical-align:middle;}
.study.con04 .conbox{height:336px;}
.study .conbox ul.bu{margin:0;}

@media screen and (max-width:480px) {
.study .left{position:relative; margin:0 auto 30px;}
.study .conbox{display:block; width:auto; height:auto; padding:0 3%;}
.study.con04 .conbox{height:auto;}
}

/* 지원업무 > 교수학습지원 > 통합 */
.cts3293 .diagram{margin-top:100px;}
.cts3293 .diagram ol li.list .itembox{width:205px; height:70px; margin:auto; padding-bottom:30px; background-repeat:no-repeat; background-position:center bottom; background-image:url(/site/support/images/contents/cts3293_line.gif);}
.cts3293 .diagram ol li.list .itembox p.table-cell{display:table-cell; width:205px; height:70px; text-align:center; vertical-align:middle; color:#FFF; border-radius:13px; font-size:20px; font-weight:600; letter-spacing:-2px;}
.cts3293 .diagram ol li.list.list01 .itembox p.table-cell{background-color:#48362a; font-size:26px;}
.cts3293 .diagram ol li.list.list02 .itembox p.table-cell{background-color:#736356;}
.cts3293 .diagram ol li.list.list03 .itembox p.table-cell{background-color:#e85e3d;}

.cts3293 .diagram ol li.list03 ul li.lowlist{float:left; width:23.65%; padding:30px 0.9% 0; background-repeat:no-repeat; background-position:center top; background-image:url(/site/support/images/contents/cts3293_lowlevel_center.png);}
.cts3293 .diagram ol li.list03 ul li.lowlist.lowlist01{padding:30px 0.9% 0 0; background-image:url(/site/support/images/contents/cts3293_lowlevel_left.png);}
.cts3293 .diagram ol li.list03 ul li.lowlist.lowlist04{padding:30px 0 0 0.9%; background-image:url(/site/support/images/contents/cts3293_lowlevel_right.png);}

.cts3293 .diagram ol li.list03 ul li.lowlist .head{background-color:#ef8065; border-radius:13px; margin-bottom:9px;}
.cts3293 .diagram ol li.list03 ul li.lowlist .head p.table-cell{display:table-cell; width:205px; height:70px; text-align:center; vertical-align:middle; color:#FFF; font-size:20px; font-weight:600;}
.cts3293 .diagram ol li.list03 ul li.lowlist .conbox{border:#ebebeb solid 1px; border-radius:13px; padding:27px 4px 17px 18px;}
.cts3293 .diagram ol li.list03 ul li.lowlist .conbox ul li{background:url(/site/support/images/contents/li_bg.gif) no-repeat left 9px; margin-bottom:10px; padding-left:8px; line-height:1.3em; color:#5c5c5c; font-size:14px; letter-spacing:-0.1em;}

@media screen and (max-width:800px) {
.cts3293 .diagram ol li.list03 ul li.lowlist{width:49.3%; margin-bottom:30px;}
.cts3293 .diagram ol li.list03 ul li.lowlist.lowlist01{padding:30px 0.7% 0 0;}
.cts3293 .diagram ol li.list03 ul li.lowlist.lowlist02{padding:30px 0 0 0.7%; background-image:url(/site/support/images/contents/cts3293_lowlevel_right.png);}
.cts3293 .diagram ol li.list03 ul li.lowlist.lowlist03{padding:30px 0.7% 0 0; background-image:url(/site/support/images/contents/cts3293_lowlevel_left.png);}
.cts3293 .diagram ol li.list03 ul li.lowlist.lowlist04{padding:30px 0 0 0.7%; background-image:url(/site/support/images/contents/cts3293_lowlevel_right.png);}
.cts3293 .diagram ol li.list03 ul li.lowlist .head p.table-cell{width:375px;}
.cts3293 .diagram ol li.list03 ul li.lowlist .conbox{padding:27px 5% 17px 8%;}
.cts3293 .diagram ol li.list03 ul li.lowlist .conbox ul li br{display:none;}
}

@media screen and (max-width:480px) {
.cts3293 .diagram ol li.list03 ul li.lowlist{width:auto; float:none;}
.cts3293 .diagram ol li.list03 ul li.lowlist.lowlist01, .cts3293 .diagram ol li.list03 ul li.lowlist.lowlist02, .cts3293 .diagram ol li.list03 ul li.lowlist.lowlist03, .cts3293 .diagram ol li.list03 ul li.lowlist.lowlist04{background-image:none; padding:0;}
.cts3293 .diagram ol li.list03 ul li.lowlist .head p.table-cell{width:456px;}
}

/* 지원업무 > 교수학습지원 > 우선 수강 신청 지원 */
.study.con05 .conbox h3{margin-top:0;}
.cts3294 .detailbox{position:relative; margin-top:58px; padding:1px 4px 4px 1px; background:url(/site/support/images/contents/borderdot.png) repeat;}
.cts3294 .detailbox .whitebox{background-color:#FFF;}
.cts3294 .detailbox .whitebox .left{position:absolute; left:0; top:0; background:url(/site/support/images/contents/cts3294_head.png) no-repeat; width:94px; height:24px; padding:6px 6px 7px 0; text-align:center; color:#FFF; font-size:15px; font-family:malgun gothic;}
.cts3294 .detailbox .whitebox .conbox{padding-left:109px;}
.cts3294 .detailbox .whitebox .conbox p.table-cell{display:table-cell; width:746px; height:35px; padding:0 3% 0 0; vertical-align:middle; }

/* 지원업무 > 생활복지지원 */
.cts3295 .photobox{margin:30px 0 60px;}
.cts3295 .photobox ul li{width:48.8%;}
.cts3295 .photobox ul li.left{float:left;}
.cts3295 .photobox ul li.right{float:right;}
.cts3295 .photobox ul li .photo{border:#cdcdcd solid 1px; line-height:0;}

@media screen and (max-width:420px) {
.cts3295 .photobox ul li{width:auto;}
.cts3295 .photobox ul li.left{float:none; margin-bottom:20px;}
.cts3295 .photobox ul li.right{float:none;}
}

/* 지원업무 > 심리상담지원 */
.cts3296 .counsel ul li{min-height:150px; margin-bottom:30px;}
.cts3296 .counsel ul li .tablebox .space{display:none;}
.cts3296 .counsel ul li .tablebox .left{float:left; border-radius:18px;}
.cts3296 .counsel ul li.list01 .tablebox .left{background-color:#68584c;}
.cts3296 .counsel ul li.list02 .tablebox .left{background-color:#e85e3d;}
.cts3296 .counsel ul li.list03 .tablebox .left{background-color:#ff8c8c;}
.cts3296 .counsel ul li .tablebox .left p.table-cell{display:table-cell; width:200px; height:150px; text-align:center; vertical-align:middle; color:#FFF; font-family:'NanumS'; font-size:20px; font-weight:600;}
.cts3296 .counsel ul li .tablebox .right{float:right; width:648px; border:#ebebeb solid 1px; border-radius:18px;}
.cts3296 .counsel ul li .tablebox .right .table-cell{display:table-cell; width:648px; height:148px; padding:0 3%; vertical-align:middle;}
.cts3296 .counsel ul li .tablebox .right .table-cell p{color:#333333; line-height:27px;}
.cts3296 .counsel ul li .tablebox .right .table-cell p.icon{margin:4px 0 0 9px; padding-left:9px; background:url(/site/support/images/contents/cts3296_text_icon.png) no-repeat left 8px; color:#626262; font-size:14px; line-height:20px;}

@media screen and (max-width:800px) {
.cts3296 .counsel ul li{min-height:0;}
.cts3296 .counsel ul li .tablebox{display:table; table-layout:fixed; width:100%;}
.cts3296 .counsel ul li .tablebox .left{float:none; display:table-cell; width:24%; text-align:center; vertical-align:middle;}
.cts3296 .counsel ul li .tablebox .left p.table-cell{display:block; width:auto; height:auto;}
.cts3296 .counsel ul li .tablebox .space{display:table-cell; width:2%;}
.cts3296 .counsel ul li .tablebox .right{float:none; display:table-cell; width:74%; padding:20px 0; vertical-align:middle;}
.cts3296 .counsel ul li .tablebox .right .table-cell{display:block; width:auto; height:auto;}
}

@media screen and (max-width:420px) {
.cts3296 .counsel ul li .tablebox{display:block;}
.cts3296 .counsel ul li .tablebox .left{display:block; width:auto; margin-bottom:10px;}
.cts3296 .counsel ul li .tablebox .left p.table-cell{display:table-cell; width:399px; height:60px;}
.cts3296 .counsel ul li .tablebox .space{display:none;}
.cts3296 .counsel ul li .tablebox .right{display:block; width:auto;}
}

/* 지원업무 > 장애학생도우미 제도 > 장애학생 도우미제도란? */
.cts3298 .topbox{background:url(/site/support/images/contents/cts3298_topbox_pattern.png) repeat; margin-bottom:55px; padding:45px 40px 38px 20px;}
.cts3298 .topbox .innerbox{background-repeat:no-repeat; background-position:left 2px; background-image:url(/site/support/images/contents/cts3298_topbox_icon.png); padding-left:169px;}
.cts3298 .topbox .innerbox h3{margin:0 0 10px; color:#333333; font-family:'NanumS'; font-size:20px; font-weight:600; line-height:27px;}
.cts3298 .topbox .innerbox p{text-align:justify; color:#333333;}
.cts3298 .assistant{margin-top:46px; padding-left:1px;}
.cts3298 .assistant ol{margin-bottom:20px;}
.cts3298 .assistant ol li{float:left; width:149px; height:65px; margin-left:-19px; padding:91px 19px 65px; background-repeat:no-repeat; background-position:center top;}
.cts3298 .assistant ol li.list01{background-image:url(/site/support/images/contents/cts3298_assistant_01.png); margin-left:0;}
.cts3298 .assistant ol li.list02{background-image:url(/site/support/images/contents/cts3298_assistant_02.png);}
.cts3298 .assistant ol li.list03{background-image:url(/site/support/images/contents/cts3298_assistant_03.png);}
.cts3298 .assistant ol li.list04{background-image:url(/site/support/images/contents/cts3298_assistant_04.png);}
.cts3298 .assistant ol li.list05{background-image:url(/site/support/images/contents/cts3298_assistant_05.png);}
.cts3298 .assistant ol li p.table-cell{display:table-cell; width:149px; height:65px; padding:0 4%; text-align:center; vertical-align:middle; color:#333333; font-family:'NanumS'; font-size:20px; line-height:27px;}
.cts3298 .assistant p.warning{color:#626262; font-size:14px;}

@media screen and (max-width:800px) {
.cts3298 .assistant{padding-left:0;}
.cts3298 .assistant ol li{background-size:contain; width:17.48%; margin-left:-2.1%; padding:calc(11% - 10px) 2.1% calc(9% - 10px);}
}

@media screen and (max-width:640px) {
.cts3298 .topbox{padding:45px 4% 38px 2%;}
.cts3298 .topbox .innerbox{background-size:20%; padding-left:22%;}
.cts3298 .assistant ol li p.table-cell{height:60px; font-size:16px; line-height:20px;}
}

@media screen and (max-width:480px) {
.cts3298 .topbox{padding:32px 6% 38px;}
.cts3298 .topbox .innerbox{background-size:110px; background-position:center top; padding:132px 0 0;}
.cts3298 .assistant ol{text-align:center;}
.cts3298 .assistant ol li{float:none; display:inline-block; width:24.36%; height:auto; margin-bottom:10px; margin-left:-4.5%; padding:calc(19.4% - 10px) 4.5% calc(18.4% - 10px);}
.cts3298 .assistant ol li.list04{margin-left:0;}
.cts3298 .assistant ol li p.table-cell{height:42px; line-height:16px; font-size:14px;}
}

/* 지원업무 > 장애학생도우미 제도 > 지원자격 및 방법 */
.cts3299 .process{margin-top:30px;}
.cts3299 .process ol li{float:left; width:17.12%; margin:0 1.2% 20px 0; padding-right:2.4%; background-repeat:no-repeat; background-position:right center; background-image:url(/site/support/images/contents/cts3299_arrow.png);}
.cts3299 .process ol li.list05{margin:0 0 20px; padding-right:0; background-image:none;}
.cts3299 .process ol li p.table-cell{display:table-cell; width:148px; height:99px; border-radius:19px; text-align:center; vertical-align:middle; color:#FFF; font-family:'NanumS'; font-size:20px; font-weight:600; line-height:24px;}
.cts3299 .process ol li.list01 p.table-cell{background-color:#736357;}
.cts3299 .process ol li.list02 p.table-cell{background-color:#ec5e5a;}
.cts3299 .process ol li.list03 p.table-cell{background-color:#ff8c8c;}
.cts3299 .process ol li.list04 p.table-cell{background-color:#f28e8b;}
.cts3299 .process ol li.list05 p.table-cell{background-color:#8f8279;}

@media screen and (max-width:800px) {
.cts3299 .process ol li p.table-cell{padding:0 5%; font-size:16px; line-height:1.2em;}
.cts3299 .process ol li p.table-cell br{display:none;}
}

@media screen and (max-width:480px) {
.cts3299 .process ol li{width:27.72%; margin:0 1.8831% 20px 0; padding-right:3.7302%;}
}

/* 지원업무 > 장애학생도우미 제도 > 장애학생 도우미 관련 혜택 */
.cts3300 .support ul li{position:relative; margin-bottom:48px;}
.cts3300 .support ul li span.number{position:absolute; display:inline-block; left:0; top:0; font-size:48px; line-height:37px; font-weight:bold; letter-spacing:-2px;}
.cts3300 .support ul li.list01 span.number{color:#68584c;}
.cts3300 .support ul li.list02 span.number{color:#867970;}
.cts3300 .support ul li.list03 span.number{color:#b3aba5;}
.cts3300 .support ul li.list04 span.number{color:#ec5e5a;}
.cts3300 .support ul li.list05 span.number{color:#f07e7b;}
.cts3300 .support ul li.list06 span.number{color:#f5aeac;}
.cts3300 .support ul li .conbox{margin-left:65px; padding-bottom:10px; border-bottom:#ebebeb solid 1px;}
.cts3300 .support ul li .conbox p{color:#333333;}
.cts3300 .support ul li .conbox p.title{margin-bottom:8px; font-size:20px; font-weight:600; line-height:27px;}



