@charset "UTF-8";

/* CJK */
@font-face{
    font-family : 'CJK';
    font-weight : 200;
    src : url("../../common/font/NotoSansCJKkr-Light.woff2") format('woff2'),
    url("../../common/font/NotoSansCJKkr-Light.woff") format('woff');
}
@font-face{
    font-family : 'CJK';
    font-weight : 300;
    src : url("../../common/font/NotoSansCJKkr-DemiLight.woff") format('woff');
}
@font-face{
    font-family : 'CJK';
    font-weight : 400;
    src : url("../../common/font/NotoSansCJKkr-Regular.woff2") format('woff2'),
    url("../../common/font/NotoSansCJKkr-Regular.woff") format('woff');
}
@font-face{
    font-family : 'CJK';
    font-weight : 500;
    src : url("../../common/font/NotoSansCJKkr-Medium.woff2") format('woff2'),
    url("../../common/font/NotoSansCJKkr-Medium.woff") format('woff');
}
@font-face{
    font-family : 'CJK';
    font-weight : 600;
    src : url("../../common/font/NotoSansCJKkr-Bold.woff2") format('woff2'),
    url("../../common/font/NotoSansCJKkr-Bold.woff") format('woff');
}
@font-face{
    font-family : 'CJK';
    font-weight : 800;
    src : url("../../common/font/NotoSansCJKkr-Black.woff2") format('woff2'),
    url("../../common/font/NotoSansCJKkr-Black.woff") format('woff');
}