@charset "UTF-8";
/* ㈜한신정보기술 - 이재홍 2023.09 */

/* common */
#container{padding-top:40px;padding-bottom:50px;}

/* side menu left */
.side.left{float:left;}
.side.left .menu_wrap{width:260px;padding:15px;border:solid 1px #b0c9ec;border-radius:10px;background-color:#e3edfa;}
.side.left .menu_wrap + .menu_wrap{margin-top:10px;}
.side.left .menu_wrap .menu_box + .menu_box{margin-top:23px;}
.side.left .menu_wrap .menu_box .title_btn .btn{min-width:80px;height:26px;border:solid 1px #b9d2f2;border-radius:13px;background-color:#b9d2f2;font-weight:400;font-size:14px;line-height:24px;color:#222;text-align:center;transition:border-color 0.3s, background-color 0.3s;}
.side.left .menu_wrap .menu_box .title_btn .btn:hover{border-color:#739fd8;background-color:#c4dbf9;}
.side.left .menu_wrap .menu_box .title_btn .btn:after{content:'';display:inline-block;width:20px;height:20px;margin-top:2px;margin-right:-5px;background-image:url(../images/main/bullet_icon_sprite.png);vertical-align:top;}
.side.left .menu_wrap .menu_box .menu_list{padding-top:10px;font-size:0;line-height:0;}
.side.left .menu_wrap .menu_box .menu_list .menu_item{display:inline-block;text-align:center;vertical-align:top;}
.side.left .menu_wrap .menu_box .menu_list .menu_item .link{position:relative;text-align:center;}
.side.left .menu_wrap .menu_box .menu_list .menu_item .link.blank:before{content:'';display:block;position:absolute;left:calc(50% + 1px);top:-4px;width:18px;height:18px;border-radius:100%;background-color:rgba(3, 151, 216, 0.8);background-image:url(../images/main/bullet_icon_sprite.png);background-position:-21px -1px;}
.side.left .menu_wrap .menu_box .menu_list .menu_item .link .icon{display:inline-block;width:30px;height:30px;margin-bottom:4px;border-radius:10px;background-color:#fff;background-image:url(../images/main/side_left_icon_sprite.png);transition:background-color 0.3s;}
.side.left .menu_wrap .menu_box .menu_list .menu_item .link:hover .icon{background-color:#109cda;background-position-y:-30px;}
.side.left .menu_wrap .menu_box .menu_list .menu_item .link .icon.type1{background-position-x:-0px;}
.side.left .menu_wrap .menu_box .menu_list .menu_item .link .icon.type2{background-position-x:-30px;}
.side.left .menu_wrap .menu_box .menu_list .menu_item .link .icon.type3{background-position-x:-60px;}
.side.left .menu_wrap .menu_box .menu_list .menu_item .link .icon.type4{background-position-x:-90px;}
.side.left .menu_wrap .menu_box .menu_list .menu_item .link .icon.type5{background-position-x:-120px;}
.side.left .menu_wrap .menu_box .menu_list .menu_item .link .icon.type6{background-position-x:-150px;}
.side.left .menu_wrap .menu_box .menu_list .menu_item .link .icon.type7{background-position-x:-180px;}
.side.left .menu_wrap .menu_box .menu_list .menu_item .link .icon.type8{background-position-x:-210px;}
.side.left .menu_wrap .menu_box .menu_list .menu_item .link .icon.type9{background-position-x:-240px;}
.side.left .menu_wrap .menu_box .menu_list .menu_item .link .icon.type10{background-position-x:-270px;}
.side.left .menu_wrap .menu_box .menu_list .menu_item .link .icon.type11{background-position-x:-300px;}
.side.left .menu_wrap .menu_box .menu_list .menu_item .link .icon.type12{background-position-x:-330px;}
.side.left .menu_wrap .menu_box .menu_list .menu_item .link .icon.type13{background-position-x:-360px;}
.side.left .menu_wrap .menu_box .menu_list .menu_item .link .icon.type14{background-position-x:-390px;}
.side.left .menu_wrap .menu_box .menu_list .menu_item .link .icon.type15{background-position-x:-420px;}
.side.left .menu_wrap .menu_box .menu_list .menu_item .link .icon.type16{background-position-x:-450px;}
.side.left .menu_wrap .menu_box .menu_list .menu_item .link .icon.type17{background-position-x:-480px;}
.side.left .menu_wrap .menu_box .menu_list .menu_item .link .icon.type18{background-position-x:-510px;}
.side.left .menu_wrap .menu_box .menu_list .menu_item .link span{font-weight:300;font-size:14px;line-height:17px;color:#222;transition:font-weight 0.3s, color 0.3s;white-space:nowrap;}
.side.left .menu_wrap .menu_box .menu_list .menu_item .link:hover span{font-weight:500;color:#0088c4;}
.side.left .menu_wrap .menu_box .menu_list .menu_item .link .new{position:absolute;left:50%;top:-4px;height:18px;padding-right:6px;padding-left:6px;border-radius:9px 9px 9px 0;background-color:#052c64;font-weight:600;font-size:11px;line-height:18px;color:#fff;text-align:center;white-space:nowrap;}
.side.left .menu_wrap .menu_box .menu_list.divide5 .menu_item{width:40px;}
.side.left .menu_wrap .menu_box .menu_list.divide5 .menu_item + .menu_item{margin-left:calc((100% - 200px) / 4);}
.side.left .menu_wrap .menu_box .menu_list.divide5 .menu_item:nth-child(5n+1){margin-left:0;}
.side.left .menu_wrap .menu_box .menu_list.divide4 .menu_item{width:52px;}
.side.left .menu_wrap .menu_box .menu_list.divide4 .menu_item + .menu_item{margin-left:calc((100% - 209px) / 3);}
.side.left .menu_wrap .menu_box .menu_list.divide4 .menu_item:nth-child(4n+1){margin-left:0;}

.side.left .menu_wrap .menu_box .menu_list .menu_item.has_layer{position:relative;}
.side.left .menu_wrap .menu_box .menu_list .menu_item .summary_info {display:none;position:absolute;bottom:-30px;left:5px;z-index:30;padding:10px 10px 5px;width:120px;line-height:1.5;border:1px solid #ddd;background-color:#ecf4f8}
.side.left .menu_wrap .menu_box .menu_list .menu_item .summary_info dl {overflow:hidden}
.side.left .menu_wrap .menu_box .menu_list .menu_item .summary_info dl dt {float:left;padding-bottom:5px;width:60%;font-size:13px;font-weight:bold}
.side.left .menu_wrap .menu_box .menu_list .menu_item .summary_info dl dd {float:left;padding-bottom:5px;width:40%;color:#152968;font-size:13px}
.side.left .menu_wrap .menu_box .menu_list .menu_item .summary_info dl dd a {display:inline-block;margin:0;padding:0;width:auto;height:auto;text-align:left}
.side.left .menu_wrap .menu_box .menu_list .menu_item .summary_info dl dd a:before {position:relative;width:0;height:0;border:0;background:none;content:none}

/* side menu right */
.side.right{float:right;}
.side.right .menu_wrap{width:280px;padding:19px 7px;border:solid 1px #d9dadd;border-radius:10px;background-color:#fff;font-size:0;line-height:0;}
.side.right .menu_wrap + .menu_wrap{margin-top:10px;}
.side.right .menu_wrap .menu_box .menu_list .menu_item{display:inline-block;width:66px;text-align:center;vertical-align:top;}
.side.right .menu_wrap .menu_box .menu_list .menu_item:nth-child(n+5){margin-top:17px;}
.side.right .menu_wrap .menu_box .menu_list .menu_item .link .icon{display:inline-block;width:30px;height:30px;margin-bottom:6px;border:solid 1px #1c5ab1;border-radius:10px;background-color:#1c5ab1;background-image:url(../images/main/side_right_icon_sprite.png);transition:border-color 0.3s, background-color 0.3s;}
.side.right .menu_wrap .menu_box .menu_list .menu_item .link:hover .icon{background-color:#fff;background-position-y:-30px;}
.side.right .menu_wrap .menu_box .menu_list .menu_item .link.blank .icon{border-color:#b0c9ec;background-color:#fff;background-image:url(../images/main/outside_logo_sprite.png);}
.side.right .menu_wrap .menu_box .menu_list .menu_item .link.blank:hover .icon{border-color:#1c5ab1;background-color:#fff;}
.side.right .menu_wrap .menu_box .menu_list .menu_item .link .icon.type1{background-position-x:-0px;}
.side.right .menu_wrap .menu_box .menu_list .menu_item .link .icon.type2{background-position-x:-30px;}
.side.right .menu_wrap .menu_box .menu_list .menu_item .link .icon.type3{background-position-x:-60px;}
.side.right .menu_wrap .menu_box .menu_list .menu_item .link .icon.type4{background-position-x:-90px;}
.side.right .menu_wrap .menu_box .menu_list .menu_item .link .icon.type5{background-position-x:-120px;}
.side.right .menu_wrap .menu_box .menu_list .menu_item .link .icon.type6{background-position-x:-150px;}
.side.right .menu_wrap .menu_box .menu_list .menu_item .link .icon.type7{background-position-x:-180px;}
.side.right .menu_wrap .menu_box .menu_list .menu_item .link .icon.type8{background-position-x:-210px;}
.side.right .menu_wrap .menu_box .menu_list .menu_item .link .icon.type9{background-position-x:-240px;}
.side.right .menu_wrap .menu_box .menu_list .menu_item .link .icon.type10{background-position-x:-270px;}
.side.right .menu_wrap .menu_box .menu_list .menu_item .link .icon.type11{background-position-x:-300px;}
.side.right .menu_wrap .menu_box .menu_list .menu_item .link span{font-weight:300;font-size:14px;line-height:17px;color:#222;transition:font-weight 0.3s, color 0.3s;}
.side.right .menu_wrap .menu_box .menu_list .menu_item .link:hover span{font-weight:500;color:#1c5ab1;}
.side.right .menu_wrap.meal{position:relative;border-color:#b0c9ec;padding-right:19px;padding-left:19px;}
.side.right .menu_wrap.meal .menu_box .title{position:relative;height:36px;padding-left:55px;font-weight:600;font-size:17px;line-height:25px;color:#222;}
.side.right .menu_wrap.meal .menu_box .title:before{content:'';display:block;position:absolute;left:0;bottom:0;width:42px;height:42px;background-image:url(../images/main/meal_icon.png);}
.side.right .menu_wrap.meal .menu_box .title:after{content:'';display:block;position:absolute;right:0;bottom:0;width:185px;height:1px;background-color:#b0c9ec;}
.side.right .menu_wrap.meal .menu_box .content{padding-top:12px;line-height:19px;}
.side.right .menu_wrap.meal .menu_box .content .content_title{font-weight:500;font-size:14px;color:#222;}
.side.right .menu_wrap.meal .menu_box .content .content_text{font-weight:300;font-size:13px;color:#555;}
.side.right .menu_wrap.meal .menu_box .more{position:absolute;right:17px;top:20px;}
.side.right .menu_wrap.meal .menu_box .more a{display:block;width:20px;height:20px;background-image:url(../images/main/bullet_icon_sprite.png);background-position-x:-40px;}

/* main content */
.main_content{float:left;padding-right:40px;padding-left:40px;}
.rowgroup{position:relative;width:580px;}

/* section1 */
.rowgroup1 .tab_wrap.notice .tab_button_list{border-bottom:solid 1px #109cda;font-size:0;line-height:0;}
.rowgroup1 .tab_wrap.notice .tab_button_list .tab_button_item{display:inline-block;vertical-align:top;transition:margin 0.3s;}
.rowgroup1 .tab_wrap.notice .tab_button_list .tab_button_item.active{margin-right:12px;}
.rowgroup1 .tab_wrap.notice .tab_button_list .tab_button_item + .tab_button_item.active{margin-left:12px;}
.rowgroup1 .tab_wrap.notice .tab_button_list .tab_button_item .btn{height:35px;padding-right:13px;padding-left:13px;border-radius:15px 15px 0 0;font-weight:500;font-size:15px;line-height:35px;color:#109cda;transition:background-color 0.3s, color 0.3s;}
.rowgroup1 .tab_wrap.notice .tab_button_list .tab_button_item.active .btn{background-color:#109cda;color:#fff;}
.rowgroup1 .tab_wrap.notice .tab_contents_list{padding-top:12px;}
.rowgroup1 .tab_wrap.notice .tab_contents_list .tab_contents_item .notice_list{min-height:168px;}
.rowgroup1 .tab_wrap.notice .tab_contents_list .tab_contents_item .notice_list .notice_item{position:relative;height:28px;font-weight:300;line-height:28px;}
/*
.rowgroup1 .tab_wrap.notice .tab_contents_list .tab_contents_item .notice_list .notice_item:first-child .title .link{color:#d95200;}
*/
.rowgroup1 .tab_wrap.notice .tab_contents_list .tab_contents_item .notice_list .notice_item .title.fixTop .link{color:#d95200;}
.rowgroup1 .tab_wrap.notice .tab_contents_list .tab_contents_item .notice_list .notice_item .title .link{overflow:hidden;max-width:400px;height:28px;font-size:14px;color:#444;white-space:nowrap;word-break:keep-all;text-overflow:ellipsis;vertical-align:top;}
.rowgroup1 .tab_wrap.notice .tab_contents_list .tab_contents_item .notice_list .notice_item .title .new{margin-left:7px;font-weight:600;font-size:12px;color:#d95200;font-style:italic;vertical-align:top; padding-right:5px;}
.rowgroup1 .tab_wrap.notice .tab_contents_list .tab_contents_item .notice_list .notice_item .notice_info{float:right;}
.rowgroup1 .tab_wrap.notice .tab_contents_list .tab_contents_item .notice_list .notice_item .notice_info .name{margin-right:20px;font-size:14px;color:#444;vertical-align:top;}
.rowgroup1 .tab_wrap.notice .tab_contents_list .tab_contents_item .notice_list .notice_item .notice_info .date{font-size:13px;color:#555;vertical-align:top;}
.rowgroup1 .tab_wrap.notice .tab_contents_list .tab_contents_item .more{position:absolute;right:-4px;top:8px;}
.rowgroup1 .tab_wrap.notice .tab_contents_list .tab_contents_item .more a{display:block;width:20px;height:20px;background-image:url(../images/main/bullet_icon_sprite.png);background-position-x:-60px;font-size:0;line-height:0;}


.rowgroup1 .tab_wrap.notice .tab_contents_list .tab_contents_item .notice_list .notice_item .title{position:relative;}
.rowgroup1 .tab_wrap.notice .tab_contents_list .tab_contents_item .notice_list .notice_item span.file{display:inline-block; width:23px; height:28px; background:url(../images/main/ico-addfile.png) left center no-repeat;}
.rowgroup1 .tab_wrap.notice .tab_contents_list .tab_contents_item .notice_list .notice_item .layer_attached{display:none;position:absolute;top:0;left:23px;line-height:1.5;z-index:1;}
.rowgroup1 .tab_wrap.notice .tab_contents_list .tab_contents_item .notice_list .notice_item .layer_attached li .summary_info2 dl {overflow:hidden}
.rowgroup1 .tab_wrap.notice .tab_contents_list .tab_contents_item .notice_list .notice_item .layer_attached li .summary_info2 {padding:10px 10px 5px;width:200px;border:1px solid #ddd;background-color:#ecf4f8}
.rowgroup1 .tab_wrap.notice .tab_contents_list .tab_contents_item .notice_list .notice_item .layer_attached li .summary_info2 dl dt {float:left;padding-bottom:5px;width:1%;font-size:13px;font-weight:bold}
.rowgroup1 .tab_wrap.notice .tab_contents_list .tab_contents_item .notice_list .notice_item .layer_attached li .summary_info2 dl dd {float:left;padding-bottom:5px;width:99%;color:#152968;font-size:13px}
.rowgroup1 .tab_wrap.notice .tab_contents_list .tab_contents_item .notice_list .notice_item .layer_attached li .summary_info2 dl dd a {display:inline-block;margin:0;padding:0;width:auto;height:auto;text-align:left}
.rowgroup1 .tab_wrap.notice .tab_contents_list .tab_contents_item .notice_list .notice_item .layer_attached li .summary_info2 dl dd a:before {position:relative;width:0;height:0;border:0;background:none;content:none}


/* section2 */
.rowgroup2{margin-top:24px;font-size:0;line-height:0;}
.rowgroup2 .bookmark_wrap{display:inline-block;position:relative;width:182px;vertical-align:top;}
.rowgroup2 .bookmark_wrap + .bookmark_wrap{margin-left:17px;}
.rowgroup2 .bookmark_wrap .title{border-bottom:solid 1px rgba(1, 64, 153, 0.5);font-weight:600;font-size:17px;line-height:35px;color:#222;}
.rowgroup2 .bookmark_wrap .bookmark_list{padding-top:10px;font-size:0;line-height:0;}
.rowgroup2 .bookmark_wrap .bookmark_list .bookmark_item{display:inline-block;width:88px;height:25px;border-radius:3px;vertical-align:top;}
.rowgroup2 .bookmark_wrap .bookmark_list .bookmark_item:nth-child(2n){margin-left:6px;}
.rowgroup2 .bookmark_wrap .bookmark_list .bookmark_item:nth-child(n+3){margin-top:4px;}
.rowgroup2 .bookmark_wrap .bookmark_list .bookmark_item .link{padding-right:3px;padding-left:3px;font-weight:300;font-size:13px;line-height:25px;color:#333;}
.rowgroup2 .bookmark_wrap .bookmark_list .bookmark_item .link:hover{font-weight:500;color:#222;text-decoration:none;}
.rowgroup2 .bookmark_wrap .setting{position:absolute;right:-2px;top:8px;}
.rowgroup2 .bookmark_wrap .setting a{display:block;width:20px;height:20px;background-image:url(../images/main/bullet_icon_sprite.png);background-position-x:-80px;}
.rowgroup2 .bookmark_wrap.type1 .bookmark_list .bookmark_item{background-color:#e1e3e6;}
.rowgroup2 .bookmark_wrap.type2 .bookmark_list .bookmark_item{background-color:#dddef3;}
.rowgroup2 .bookmark_wrap.type3 .bookmark_list .bookmark_item{background-color:#dde7f3;}

/* section3 */
.rowgroup3{margin-top:29px;font-size:0;line-height:0;}
.rowgroup3 .board_wrap{display:inline-block;position:relative;width:275px;}
.rowgroup3 .board_wrap + .board_wrap{margin-left:30px;}
.rowgroup3 .board_wrap .title{border-bottom:solid 1px rgba(1, 64, 153, 0.5);font-weight:600;font-size:17px;line-height:38px;color:#222;}
.rowgroup3 .board_wrap .board_list{padding-top:9px;}
.rowgroup3 .board_wrap .board_list .board_item{height:24px;font-weight:300;font-size:13px;line-height:24px;}
.rowgroup3 .board_wrap .board_list .board_item .date{margin-right:10px;color:#109cda;}
.rowgroup3 .board_wrap .board_list .board_item .board_title{color:#555;}
.rowgroup3 .board_wrap .more{position:absolute;right:-4px;top:9px;}
.rowgroup3 .board_wrap .more a{display:block;width:20px;height:20px;background-image:url(../images/main/bullet_icon_sprite.png);background-position-x:-40px;}

.rowgroup3 .board_wrap .board_list .board_item .date{float:left;}
.rowgroup3 .board_wrap .board_list .board_item .board_title{max-width:calc(100% - 75px);}
.rowgroup3 .board_wrap .board_list .board_item .board_title a{width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}


