@charset "utf-8";

/* (주)한신정보기술 박남규 - 2024.03 */

/* --------------- header 시작 --------------- */
@media all and (min-width:1001px){
    .header_box .logo .logo_link .logo_con.con_img{width:242px;height:49px;background-image:url(../images/common/common_logo_www.png);}
    .header_box .logo .logo_link .logo_con.con_text{display:none;}
    .lnb .menu .depth1{padding-right:460px;}
    .lnb .menu .depth1 .line_deco_box[data-depth="1"] .line_deco{width:calc(100% / 6);}
    .lnb .menu .depth1 .line_deco_box[data-depth="1"] .line_deco:nth-child(6){display:inline-block;}
    .lnb .menu .depth1 .line_deco_box[data-depth="1"][data-length="5"] .line_deco:nth-child(n+6):before{opacity:0;}
    /*.lnb .menu .depth1 .line_deco_box[data-depth="3"] .line_deco{width:calc(100% / 4);}*/
    /*.lnb .menu .depth1 .line_deco_box[data-depth="3"] .line_deco:nth-child(5){display:none;}*/
    .lnb .menu .depth1 .depth1_list{text-align:center;}
    .lnb .menu .depth1 .promotion_box{display:inline-block;}
    .lnb .menu .depth1_item:nth-child(1) .depth2 .depth2_list .depth2_item{width:calc(100% / 6);}
    /*.lnb .menu .depth1_item:nth-child(3) .depth2 .depth2_list .depth2_item{width:calc(100% / 4);}*/
    .lnb .menu .depth1 .depth1_list .depth1_item:nth-child(5),
    .lnb .menu .depth1 .depth1_list .depth1_item:nth-child(6){display:none;}
}
@media all and (min-width:1001px) and (max-width:1470px){
    .lnb .menu .depth1{padding-right:370px;padding-left:252px;}
    .lnb .menu .depth1 .depth1_list{text-align:right;}
}
@media all and (min-width:1001px) and (max-width:1235px){
    .lnb .menu .depth1{padding-right:330px;}
}
@media all and (max-width:1000px){
    .header_box .logo .logo_link .logo_con.con_img{width:180px;height:36px;background-image:url(../images/common/common_logo_www.png);background-size:cover;}
    .header_box .logo .logo_link .logo_con.con_text{display:none;}
    .lnb .lnb_topbox .logo .logo_link .logo_con.con_img{background-image:url(../images/common/common_logo_www_lnb_top.png);}
    .lnb .lnb_topbox .logo .logo_link .logo_con.con_text{display:none;}
    
    /*.lnb .menu .depth1 .depth1_list .depth1_item:nth-child(4){margin-bottom:56px;}*/
    .lnb .menu .depth1 .promotion_box{display:block;top:calc(56px * 6);}
}
@media all and (max-width:640px){
    .header_box .logo .logo_link .logo_con.con_img{width:153px;height:30px;}
}
/* --------------- header 끝 --------------- */


/* --------------- footer 시작 --------------- */
#footer.type01 .footer_wrap .footer_logo_box .logo_link .logo_con.con_text{display:none;}
#footer.type01 .bg_deco{mask-image:url(../images/common/footer_type01_bg_www.png);-webkit-mask-image:url(../images/common/footer_type01_bg_www.png);}
@media all and (max-width:1000px){
    #footer.type01 .footer_wrap .footer_logo_box .logo_link .logo_con.con_text{display:inline-block;margin:20px 0 0 14px;width:162px;height:33px;background-image:url(../images/common/footer_type01_select_logo.png);background-repeat:no-repeat;background-position:left top;background-size:cover;font-size:0;line-height:0;}
    #footer.type01 .footer_wrap .footer_select .select_box{padding-bottom:0;}
    #footer.type01 .footer_wrap .footer_select .select_box .select_list .select_item{display:inline-block;width:calc((100% - 10px) / 2);}
    #footer.type01 .footer_wrap .footer_select .select_box .select_logo{display:none;}
}
@media all and (max-width:480px){
    #footer.type01 .footer_wrap .footer_logo_box{text-align:left;}
    #footer.type01 .footer_wrap .footer_info{text-align:left;}
}
/* --------------- footer 끝 --------------- */
