@charset "UTF-8";

/* ㈜한신정보기술 이재홍 - 2023.01 */

/* 기본세팅 시작 */
body{position:relative;font-size:16px;color:#000;line-height:26px;letter-spacing:-0.03em;font-weight:400;font-family:'ONE','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;overflow-x:hidden;}
a:link{color:#363636;text-decoration:none;}
a:visited{color:#363636;text-decoration:none;}
a:hover{color:#363636;text-decoration:underline;}
a:active{color:#363636;text-decoration:underline;}
a span{cursor:pointer;font-family:'ONE','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;}
button{cursor:pointer;font-family:'ONE','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;letter-spacing:inherit;}
input{font-family:'ONE','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;}
input[type="submit"]{cursor:pointer;}
/* 기본세팅 끝 */

/* Slider 세팅 시작 */
.slick-slider{position:relative;display:block;box-sizing:border-box;}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0;}
.slick-list:focus{outline:none;}
.slick-list.dragging{cursor:pointer;}
.slick-track{ position:relative;top:0;left:0;display:block;}
.slick-track:before,.slick-track:after{display:table;content:'';}
.slick-track:after{clear:both;}
.slick-loading .slick-track{visibility:hidden;}
.slick-slide{display:none;float:left;height:100%;min-height:1px;}
[dir='rtl'] .slick-slide{float:right;}
.slick-slide img{display:block;width:100%;}
.slick-slide.slick-loading img{display:none;}
.slick-initialized .slick-slide{display:block;}
.slick-loading .slick-slide{visibility:hidden;}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent;}
#scrollbar{display:block;visibility:hidden;overflow-x:scroll;overflow-y:scroll;position:absolute;top:-100px;left:-100px;z-index:-1;width:100px;height:100px;}
/* Slider 세팅 끝 */

/* 메뉴 css 세팅 시작 */
.menu.init, .menu.init:before, .menu.init:after, .menu.init .depth, .menu.init .depth:before, .menu.init .depth:after, .menu.init .depth_list, .menu.init .depth_list:before, .menu.init .depth_list:after, .menu.init .depth_item, .menu.init .depth_item:before, .menu.init .depth_item:after, .menu.init .depth_text, .menu.init .depth_text:before, .menu.init .depth_text:after, .menu.init .depth_title, .menu.init .depth_title:before, .menu.init .depth_title:after{transition-property:all;transition-duration:0.25s;transition-timing-function:linear;}
.menu, .menu .depth, .menu .depth_list, .menu .depth_item, .menu .depth_text{position:relative;}
.menu{font-size:0px;line-height:0px;}
.menu .depth:not(.depth1){visibility:hidden;opacity:0;overflow:hidden;}
.menu .depth1{z-index:30;}
.menu .depth_list{z-index:10;}
.menu .depth_text{display:inline-block;}
/* 1, 2차 메뉴 배경 */
.menu.before:before, .menu.after:after{display:block;position:absolute;}
.menu.before:before{z-index:10;}
.menu.after:after{z-index:20;}
/* 제목 상자 */
.menu .depth_title{overflow:hidden;position:absolute;z-index:20;}
/* 옵션 */
.menu .depth1.clearfix .depth1_list{float:right;}
.menu .depth_list.clearfix > .depth_item{float:left;}
.menu .depth_list.cut > .depth_item{display:inline-block;vertical-align:top;}
/* 풀 다운 */
.menu.pulldown .depth1{height:100%;}
.menu.pulldown .depth1_list, .menu.pulldown .depth1_item{height:inherit;}
.menu.pulldown .depth2{position:absolute;bottom:0;left:0;width:100%;}
/* 이치 다운 */
.menu.eachdown .depth1{height:100%;}
.menu.eachdown .depth1_list, .menu.eachdown .depth1_item{position:static;height:inherit;}
.menu.eachdown .depth2{position:absolute;bottom:0;left:0;width:100%;}
/* 드롭 다운 */
.menu.dropdown .depth2{position:absolute;top:100%;left:0;width:100%;transform-origin:center top;transform:scaleY(0);}
/* 메뉴 css 세팅 끝 */

/* 영역잡기 wrapper, wrap 시작 */
#wrapper{position:relative;min-width:1500px;overflow:hidden;}
.wrap{position:relative;width:1500px;margin:0 auto;}
.skip{overflow:hidden;}
@media all and (max-width:1500px){
    #wrapper{min-width:1000px;overflow-x:hidden;}
    .wrap{width:94%;}
}
@media all and (max-width:1000px){
    #wrapper{min-width:0;}
}
/* 영역잡기 wrapper, wrap 끝 */

/* ----- header 시작 ----- */
@media screen and (min-width:1001px){
    #header{display:block;position:relative;z-index:30;}
    .header_box{height:100px;}
    .header_box .wrap .logo{display:block;position:absolute;left:0;top:22px;z-index:50;vertical-align:top;}
    .header_box .wrap .logo .logo_link{display:block;font-size:0;line-height:0;}
    .header_box .wrap .logo .logo_link .logo_img{display:inline-block;width:135px;height:55px;background-image:url(../images/common/logo.png);background-size:contain;background-position:center center;background-repeat:no-repeat;vertical-align:top;}
    .header_box .wrap .logo .logo_link .site_name{display:inline-block;margin-top:12px;margin-left:10px;font-weight:600;font-size:26px;line-height:32px;color:#000;vertical-align:top;}
    .header_box .wrap .menu_show{display:none;}
    .lnb{position:absolute;left:0;top:0;z-index:10;width:100%;background-color:#fff;}
    .lnb .lnb_topbox .m_gnb{display:none;}
    .lnb .menu{display:block;position:relative;width:100%;height:100px;transition:height 0.3s;}
    .lnb .menu .depth1{position:static;width:1500px;margin:0 auto;padding-right:100px;padding-left:270px;}
    .lnb .menu .depth1 .depth1_list{display:block;width:100%;margin:0 auto;font-size:0;line-height:0;}
    .lnb .menu .depth1 .depth1_list .depth1_item{display:inline-block;width:calc(100% / 4);padding:0 35px;vertical-align:top;box-sizing:border-box;}
    .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text{display:block;position:relative;width:100%;height:100px;text-align:center;box-sizing:border-box;}
    .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text:before{content:'';display:block;position:absolute;right:0;bottom:-3px;z-index:2;width:0;height:6px;border-radius:3px;background-color:#4e79d9;transition:width 0.3s;box-sizing:border-box;}
    .lnb .menu .depth1 .depth1_list .depth1_item.active .depth1_text:before{right:auto;left:0;width:100%;}
    .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text span{position:relative;top:50%;transform:translateY(-50%);}
    .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text span em{font-weight:600;font-size:20px;line-height:32px;color:#000;}
    .lnb .menu .depth2{display:block;position:absolute;left:0;top:100px;bottom:auto;width:100%;height:0;padding-right:calc((100% - 1500px) / 2);padding-left:calc(((100% - 1500px) / 2) + 280px);border-top:solid 1px #e9e9ee;box-shadow:0 0 0 rgba(50, 54, 77, 0);transition-property:opacity, visibility, height, box-shadow;transition-duration:0.3s;}
    .lnb_open .lnb .menu .depth2{height:calc(100% - 100px);box-shadow:0 17px 20px rgba(50, 54, 77, 0.05);}
    .lnb_open .lnb .menu .depth1_item.active .depth2{z-index:1;opacity:1;visibility:visible;}
    .lnb .menu .depth2 .menu_title{display:block;position:absolute;left:0;bottom:0;width:calc(((100% - 1500px) / 2) + 228px);height:100%;text-align:left;}
    .lnb .menu .depth2 .menu_title:before{content:'';display:block;position:absolute;left:0;bottom:0;width:100%;height:calc(100% + 35px);border-top-right-radius:200px;background-image:linear-gradient(45deg, #2854c3, #11ceda 90%);}
    .lnb .menu .depth2 .menu_title:after{content:'';display:block;position:absolute;left:0;top:240px;width:440px;height:440px;background-image:url(../images/common/header_deco_img.png);background-size:100%;background-position:bottom;background-repeat:no-repeat;}
    .lnb .menu .depth2 .menu_title .text{display:block;position:absolute;left:calc(100% - 228px);top:87px;z-index:1;font-weight:400;font-size:18px;line-height:26px;color:#fff;}
    .lnb .menu .depth2 .depth2_list{min-height:278px;padding-top:40px;padding-bottom:35px;visibility:hidden;opacity:0;transition-property:visibility, opacity;transition-duration:0.5s;}
    .lnb_open .lnb .menu .depth1_item.active .depth2 .depth2_list{visibility:visible;opacity:1;}
    .lnb .menu .depth2 .depth2_list .depth2_item{display:inline-block;width:calc((100% - 61px) / 4);margin-right:20px;vertical-align:top;}
    .lnb .menu .depth2 .depth2_list .depth2_item:nth-child(4n){margin-right:0;}
    .lnb .menu .depth2 .depth2_list .depth2_item:nth-child(n + 5){margin-top:25px;}
    .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text{display:block;width:100%;height:50px;padding:1px;border-radius:10px;border:solid 1px #c9ced6;text-align:center;transition:border-color 0.3s;}
    .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text:hover{border-color:transparent;}
    .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text:before{content:'';display:block;opacity:0;position:absolute;left:-1px;top:-1px;width:calc(100% + 2px);height:calc(100% + 2px);border-radius:10px;background-image:linear-gradient(90deg, #32afa2, #4e79d9);transition:opacity 0.3s;}
    .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text:hover:before{opacity:1;}
    .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text:after{content:'';display:block;position:absolute;left:0;top:0;width:100%;height:100%;border-radius:8px;background-color:#fff;}
    .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text span{position:relative;top:50%;z-index:1;padding-right:20px;padding-left:20px;transform:translateY(-50%);}
    .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text span em{position:relative;font-weight:400;font-size:16px;line-height:22px;color:#191920;vertical-align:top;transition:color 0.3s;}
    .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text[target="_blank"] span em:after{display:inline-block;opacity:1;width:16px;height:17px;margin-top:2px;margin-left:3px;background-image:url(../images/common/blank_icon_sprite.png);vertical-align:top;}
    .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text[target="_blank"]:hover span em:after{background-position-x:-20px;}
    .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text:hover span em{color:#0e3ea8;}
    .lnb_open .lnb .menu .depth1_item.active .depth3{opacity:1;visibility:visible;}
    .lnb .menu .depth3 .depth3_list{padding-top:15px;text-align:left;}
    .lnb .menu .depth3 .depth3_list .depth3_item .depth3_text{display:block;width:100%;padding-left:15px;}
    .lnb .menu .depth3 .depth3_list .depth3_item .depth3_text:before{content:'';display:block;position:absolute;left:0;top:10px;width:5px;height:5px;border-radius:100%;background-color:#bbbcc8;transition:background-color 0.3s;}
    .lnb .menu .depth3 .depth3_list .depth3_item .depth3_text:hover:before{background-color:#009585;}
    .lnb .menu .depth3 .depth3_list .depth3_item .depth3_text span{display:block;width:100%;}
    .lnb .menu .depth3 .depth3_list .depth3_item .depth3_text span em{font-weight:400;font-size:15px;line-height:26px;color:#292c30;transition:color 0.3s;}
    .lnb .menu .depth3 .depth3_list .depth3_item .depth3_text:hover span em{color:#009585;}
    .lnb .menu .depth3 .depth3_list .depth3_item .depth3_text[target="_blank"] span em{max-width:calc(100% - 20px);vertical-align:top;}
    .lnb .menu .depth3 .depth3_list .depth3_item .depth3_text[target="_blank"] span:after{content:'';display:inline-block;width:16px;height:17px;margin-top:5px;margin-left:3px;background-image:url(../images/common/blank_icon_sprite.png);background-position-x:-40px;vertical-align:top;}
    .lnb .menu .depth3 .depth3_list .depth3_item .depth3_text[target="_blank"]:hover span:after{background-position-x:-60px;}
    .lnb .menu .depth4{display:none;}
    .lnb .menu_hide{display:none;}
    .lnb_curtain{display:none;}
    #header .sitemap-icon{position:absolute;right:calc(50% - 750px);top:39px;z-index:35;font-size:0;line-height:0;}
    #header .sitemap-icon .link{display:block;position:relative;width:27px;height:21px;}
    #header .sitemap-icon .link:before{content:'';display:block;opacity:1;position:absolute;left:0;top:0;width:100%;height:100%;background-image:url(../images/common/sitemap_icon_sprite.png);background-repeat:no-repeat;transition:opacity 0.3s;}
    #header .sitemap-icon .link:after{content:'';display:block;opacity:0;position:absolute;left:0;top:0;width:100%;height:100%;background-image:url(../images/common/sitemap_icon_sprite.png);background-position-x:-30px;background-repeat:no-repeat;transition:opacity 0.3s;}
    #header .sitemap-icon .link:hover:before{opacity:0;}
    #header .sitemap-icon .link:hover:after{opacity:1;}
}
@media screen and (min-width:1001px) and (max-width:1500px){
    .header_box .wrap .logo .logo_link .site_name{margin-top:12px;font-size:24px;line-height:30px;}
    .lnb .menu .depth1{width:100%;padding-right:100px;padding-left:270px;}
    .lnb .menu .depth1 .depth1_list .depth1_item{padding:0 15px;}
    .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text span em{font-size:19px;line-height:28px;}
    .lnb .menu .depth2{padding-right:3%;padding-left:calc(3% + 260px);}
    .lnb .menu .depth2 .menu_title{width:calc(3% + 230px);}
    .lnb .menu .depth2 .menu_title:after{width:260px;height:227px;}
    .lnb .menu .depth2 .menu_title .text{left:calc(100% - 230px);top:80px;font-size:17px;line-height:25px;}
    .lnb .menu .depth2 .depth2_list{padding-top:30px;padding-bottom:30px;}
    .lnb .menu .depth2 .depth2_list .depth2_item{width:calc((100% - 41px) / 3);}
    .lnb .menu .depth2 .depth2_list .depth2_item:nth-child(4n){margin-right:20px;}
    .lnb .menu .depth2 .depth2_list .depth2_item:nth-child(3n){margin-right:0;}
    .lnb .menu .depth2 .depth2_list .depth2_item:nth-child(n + 4){margin-top:25px;}
    .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text span em{line-height:20px;}
    #header .sitemap-icon{right:3%;}
}
@media screen and (max-width:1000px){
    #header{display:block;position:static;}
    .header_box{display:block;}
    .header_box .wrap{display:block;position:relative;padding-top:11px;padding-bottom:11px;}
    .header_box .wrap .logo{display:block;width:fit-content;}
    .header_box .wrap .logo .logo_link{display:block;font-size:0;line-height:0;}
    .header_box .wrap .logo .logo_link .logo_img{display:inline-block;width:94px;height:38px;background-image:url(../images/common/m_logo.png);background-repeat:no-repeat;font-size:0;line-height:0;vertical-align:top;}
    .header_box .wrap .logo .logo_link .site_name{display:inline-block;margin-top:8px;margin-left:6px;font-weight:600;font-size:18px;line-height:22px;color:#000;vertical-align:top;}
    .header_box .wrap .menu_show{position:absolute;right:0;top:18px;}
    .header_box .wrap .menu_show .menu_button{display:block;width:27px;height:22px;background-image:url(../images/common/m_lnb_btn_sprite.png);font-size:0;line-height:0;background-repeat:no-repeat;}
    .lnb{position:absolute;right:-360px;top:0;z-index:40;width:100%;max-width:360px;height:100%;padding-top:61px;background-color:#fff;opacity:0;visibility:hidden;transition-property:right, opacity, visibility;transition-duration:0.3s;}
    .lnb_show .lnb{right:0;opacity:1;visibility:visible;}
    .lnb .lnb_topbox{display:block;position:absolute;left:0;top:0;z-index:1;width:100%;border-bottom:solid 1px #e9e9ee;}
    .lnb .lnb_topbox .m_gnb{display:block;width:100%;padding-top:11px;padding-bottom:11px;padding-left:20px;}
    .lnb .lnb_topbox .m_gnb .m_logo{display:block;width:fit-content;}
    .lnb .lnb_topbox .m_gnb .m_logo .logo_link{display:block;}
    .lnb .lnb_topbox .m_gnb .m_logo .logo_link:hover{text-decoration:none;}
    .lnb .lnb_topbox .m_gnb .m_logo .logo_link .logo_img{display:inline-block;width:94px;height:38px;background-image:url(../images/common/m_logo.png);background-repeat:no-repeat;font-size:0;line-height:0;vertical-align:top;}
    .lnb .lnb_topbox .m_gnb .m_logo .logo_link .site_name{display:inline-block;margin-top:8px;margin-left:5px;font-weight:600;font-size:18px;line-height:22px;color:#000;vertical-align:top;}
    .lnb .menu{display:block;position:relative;width:100%;height:100%;max-height:100%;}
    .lnb .menu .depth1{display:block;position:static;width:110px;height:100%;padding-top:20px;padding-left:10px;background-color:#f8f8f9;opacity:0;visibility:hidden;transition-property:opacity, visibility;transition-duration:0.3s;}
    .lnb_show .lnb .menu .depth1{opacity:1;visibility:visible;}
    .lnb .menu .depth1 .depth1_list{display:block;height:auto;max-height:100%;}
    .lnb .menu .depth1 .depth1_list .depth1_item{display:block;height:auto;}
    .lnb .menu .depth1 .depth1_list .depth1_item + .depth1_item{margin-top:5px;}
    .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text{display:block;overflow:hidden;position:relative;width:115px;padding:11px 10px;}
    .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text:before{display:block;position:absolute;left:-100%;top:0;width:100%;height:100%;border-radius:20px;background-image:linear-gradient(#00a1b9, #4b4ece);opacity:0;transition:left 0.3s, opacity 0.3s;content:'';}
    .lnb .menu .depth1 .depth1_list .depth1_item.active .depth1_text:before{left:0;opacity:1;}
    .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text span{position:relative;font-weight:400;font-size:16px;line-height:23px;color:#000;transition:color 0.3s;}
    .lnb .menu .depth1 .depth1_list .depth1_item.active .depth1_text span{color:#fff;}
    .lnb .menu .depth2{overflow:auto;position:absolute;left:auto;right:0;top:0;bottom:auto;width:calc(100% - 110px);height:100%;transition-property:opacity, visibility;transition-duration:0.3s;}
    .lnb_show .lnb .menu .depth1_item.active .depth2{opacity:1;visibility:visible;}
    .lnb .menu .depth2 .depth2_list{display:block;padding:20px;}
    .lnb .menu .depth2 .depth2_list .depth2_item{display:block;}
    .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text{display:block;position:relative;padding:10px 30px 6px 10px;}
    .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text:before{display:block;position:absolute;left:0;bottom:0;width:100%;height:1px;background-color:#ededee;opacity:1;transition:opacity 0.3s;content:'';content:'';}
    .lnb .menu .depth2 .depth2_list .depth2_item:last-child .depth2_text:before{display:none;}
    .lnb .menu .depth2 .depth2_list .depth2_item.has.active .depth2_text:before{opacity:0;}
    .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text span{font-weight:400;font-size:15px;line-height:24px;color:#686a70;}
    .lnb .menu .depth2 .depth2_list .depth2_item.has .depth2_text span:before,
    .lnb .menu .depth2 .depth2_list .depth2_item.has .depth2_text span:after{display:block;position:absolute;right:6px;top:11px;width:20px;height:20px;background-image:url(../images/common/m_arrow_icon_sprite.png);transform:rotate(0);transition:opacity 0.3s, transform 0.3s;content:'';}
    .lnb .menu .depth2 .depth2_list .depth2_item.has .depth2_text span:before{opacity:1;}
    .lnb .menu .depth2 .depth2_list .depth2_item.has .depth2_text span:after{opacity:0;background-position-x:-20px;}
    .lnb .menu .depth2 .depth2_list .depth2_item.has.active .depth2_text span:before{opacity:0;transform:rotate(180deg);}
    .lnb .menu .depth2 .depth2_list .depth2_item.has.active .depth2_text span:after{opacity:1;transform:rotate(180deg);}
    .lnb .menu .depth2 .depth2_list .depth2_item.active .depth2_text span{color:#081331;}
    .lnb .menu .depth2 .depth2_list .depth2_item:not(.has) .depth2_text[target="_blank"]:after{display:block;position:absolute;right:6px;top:11px;width:20px;height:20px;background-image:url(../images/common/m_blank_icon_sprite.png);content:'';}
    .lnb .menu .depth2 .depth2_list .depth2_item.active:not(.has) .depth2_text[target="_blank"]:after{background-position-x:-20px;}
    .lnb .menu .depth3{display:block;width:100%;opacity:0;visibility:hidden;transition-property:opacity, visibility;transition-duration:0.3s;}
    .lnb_show .lnb .menu .depth2_item.active .depth3{opacity:1;visibility:visible;}
    .lnb .menu .depth3 .depth3_list{display:block;padding:0px;border:solid 1px #e2e4e9;border-radius:10px;transition:padding 0.3s;}
    .lnb .menu .depth2_item.active .depth3 .depth3_list{padding:7px 9px 14px;}
    .lnb .menu .depth3 .depth3_list .depth3_item{display:block;}
    .lnb .menu .depth3 .depth3_list .depth3_item .depth3_text{display:block;position:relative;padding:0px;transition:padding 0.3s;}
    .lnb .menu .depth2_item.active .depth3 .depth3_list .depth3_item .depth3_text{padding:4px 20px 4px 12px;}
    .lnb .menu .depth3 .depth3_list .depth3_item .depth3_text:before{display:block;position:absolute;left:0;top:0px;width:4px;height:4px;border-radius:100%;background-color:#afafcd;opacity:0;transition-property:top, background-color, opacity;transition-duration:0.3s;}
    .lnb .menu .depth2_item.active .depth3 .depth3_list .depth3_item .depth3_text:before{top:11px;opacity:1;}
    .lnb .menu .depth3 .depth3_list .depth3_item.active .depth3_text:before{background-color:#304dc7;}
    .lnb .menu .depth3 .depth3_list .depth3_item:not(.has) .depth3_text[target="_blank"]:after{display:block;position:absolute;right:0;top:0px;width:17px;height:17px;background-image:url(../images/common/m_blank_icon_sprite.png);background-position-x:-40px;background-position-y:-2px;opacity:0;content:'';transition-property:top, opacity;transition-duration:0.3s;}
    .lnb .menu .depth2_item.active .depth3 .depth3_list .depth3_item:not(.has) .depth3_text[target="_blank"]:after{top:6px;opacity:1;}
    .lnb .menu .depth3 .depth3_list .depth3_item.active:not(.has) .depth3_text[target="_blank"]:after{background-position-x:-60px;}
    .lnb .menu .depth3 .depth3_list .depth3_item .depth3_text span{font-weight:400;font-size:0px;line-height:0px;color:transparent;transition-property:font-size, line-height, color;transition-duration:0.3s;}
    .lnb .menu .depth2_item.active .depth3 .depth3_list .depth3_item .depth3_text span{font-size:14px;line-height:18px;color:#616a83;}
    .lnb .menu .depth2_item.active .depth3 .depth3_list .depth3_item.active .depth3_text span{color:#304dc7;}
    .lnb .menu .depth3 .depth3_list .depth3_item.has .depth3_text span:before,
    .lnb .menu .depth3 .depth3_list .depth3_item.has .depth3_text span:after{display:block;position:absolute;right:0;top:0px;width:17px;height:17px;border-radius:100%;background-image:url(../images/common/m_arrow_icon_sprite.png);background-position-y:-2px;transform:rotate(0);opacity:0;transition-property:top, opacity, transform;transition-duration:0.3s;}
    .lnb .menu .depth3 .depth3_list .depth3_item.has .depth3_text span:before{background-color:#eeeff1;background-position-x:-42px;}
    .lnb .menu .depth3 .depth3_list .depth3_item.has .depth3_text span:after{background-color:#304dc7;background-position-x:-62px;}
    .lnb .menu .depth2_item.active .depth3 .depth3_list .depth3_item.has .depth3_text span:before{top:6px;opacity:1;}
    .lnb .menu .depth2_item.active .depth3 .depth3_list .depth3_item.has .depth3_text span:after{top:6px;}
    .lnb .menu .depth2_item.active .depth3 .depth3_list .depth3_item.has.active .depth3_text span:before{opacity:0;transform:rotate(180deg);}
    .lnb .menu .depth2_item.active .depth3 .depth3_list .depth3_item.has.active .depth3_text span:after{opacity:1;transform:rotate(180deg);}
    .lnb .menu .depth4{display:block;width:100%;padding-top:0;opacity:0;visibility:hidden;transition-property:padding-top, opacity, visibility;transition-duration:0.3s;}
    .lnb_show .lnb .menu .depth2_item.active .depth3_item.active .depth4{padding-top:4px;opacity:1;visibility:visible;}
    .lnb .menu .depth4 .depth4_list{padding:0px;border-radius:5px;background-color:#f5f5fc;transition:padding 0.3s;}
    .lnb .menu .depth2_item.active .depth3_item.active .depth4 .depth4_list{padding:6px 10px 5px;}
    .lnb .menu .depth4 .depth4_list .depth4_item{display:block;}
    .lnb .menu .depth4 .depth4_list .depth4_item .depth4_text{display:block;position:relative;padding-right:15px;padding-left:10px;}
    .lnb .menu .depth4 .depth4_list .depth4_item .depth4_text:before{display:block;position:absolute;left:0;top:0px;width:5px;height:2px;border-radius:1px;background-color:#48545e;opacity:0;transition-property:top, opacity;transition-duration:0.3s;}
    .lnb .menu .depth2_item.active .depth3_item.active .depth4 .depth4_list .depth4_item .depth4_text:before{top:9px;opacity:1;}
    .lnb .menu .depth4 .depth4_list .depth4_item.active .depth4_text:before{background-color:#061c7a;}
    .lnb .menu .depth4 .depth4_list .depth4_item:not(.has) .depth4_text[target="_blank"]:after{display:block;position:absolute;right:0;top:0;width:20px;height:20px;background-image:url(../images/common/m_blank_icon_sprite.png);background-position-x:-80px;opacity:0;content:'';transition:opacity 0.3s;}
    .lnb .menu .depth2_item.active .depth3_item.active .depth4 .depth4_list .depth4_item:not(.has) .depth4_text[target="_blank"]:after{opacity:1;}
    .lnb .menu .depth4 .depth4_list .depth4_item.active:not(.has) .depth4_text[target="_blank"]:after{background-position-x:-100px;}
    .lnb .menu .depth4 .depth4_list .depth4_item .depth4_text span{font-weight:400;font-size:0px;line-height:0px;color:#48545e;transition-property:font-size, line-height;transition-duration:0.3s;}
    .lnb .menu .depth2_item.active .depth3_item.active .depth4 .depth4_list .depth4_item .depth4_text span{font-size:14px;line-height:22px;}
    .lnb .menu .depth4 .depth4_list .depth4_item.active .depth4_text span{color:#061c7a;}
    .menu_hide{display:block;position:absolute;right:20px;top:18px;z-index:1;}
    .menu_hide .menu_button{display:block;width:27px;height:22px;background-image:url(../images/common/m_lnb_btn_sprite.png);background-position-y:-22px;background-repeat:no-repeat;font-size:0;line-height:0;}
    .lnb_curtain{opacity:0;visibility:hidden;position:fixed;left:0;top:0;z-index:30;width:100%;height:100vh;background-color:rgba(0, 0, 0, 0.6);font-size:0;line-height:0;transition-property:opacity, visibility;transition-duration:0.3s;}
    .lnb_show .lnb_curtain{display:block;opacity:1;visibility:visible;}
    .lnb_show .lnb_curtain button{display:block;position:absolute;left:0;top:0;width:100%;height:100%;}
    #header .sitemap-icon{display:none;}
}
@media screen and (max-width:640px){
}
/* ----- header 끝 ----- */

/* ----- footer 시작 ----- */
#footer{display:block;position:relative;width:100%;}
.footer_wrap{display:block;width:100%;padding:57px calc((100% - 1500px) / 2) 90px;border-radius:100px 100px 0 0;background-color:#07287b;}
.footer_wrap .footer_inner{position:relative;}
.footer_wrap .footer_inner .footer_quick{display:block;}
.footer_wrap .footer_inner .footer_quick .quick_list{font-size:0;line-height:0;}
.footer_wrap .footer_inner .footer_quick .quick_list .quick_item{display:inline-block;margin-right:40px;}
.footer_wrap .footer_inner .footer_quick .quick_list .quick_item:last-child{margin-right:0;}
.footer_wrap .footer_inner .footer_quick .quick_list .quick_item .link{font-weight:400;font-size:16px;line-height:22px;color:#fff;}
.footer_wrap .footer_inner .footer_quick .quick_list .quick_item:first-child .link{color:#fffd7a;}
.footer_wrap .footer_inner .footer_quick .quick_list .quick_item .link:hover{text-decoration:none;}
.footer_wrap .footer_inner .footer_link{display:block;position:absolute;right:0;top:3px;z-index:2;}
.footer_wrap .footer_inner .footer_link .f_link_button{display:block;}
.footer_wrap .footer_inner .footer_link .f_link_button .btn{width:210px;height:55px;padding-right:55px;padding-left:20px;border-radius:20px;border:solid 1px #fff;background-color:transparent;text-align:left;}
.footer_wrap .footer_inner .footer_link .f_link_button .btn:before{content:'';display:block;position:absolute;right:20px;top:50%;width:19px;height:12px;background-image:url(../images/common/footer_arrow_icon.png);background-size:contain;background-position:center center;background-repeat:no-repeat;transform:translateY(-50%);transition:transform 0.3s;}
.footer_wrap .footer_inner .footer_link.active .f_link_button .btn:before{transform:translateY(-50%) rotate(180deg);}
.footer_wrap .footer_inner .footer_link .f_link_button .btn span{font-weight:400;font-size:16px;line-height:22px;color:#fff;}
.footer_wrap .footer_inner .footer_link .f_link_list{display:none;position:absolute;left:0;bottom:calc(100% + 9px);width:100%;padding:13px 20px;border-radius:20px;border:solid 1px #07287b;background-color:#fff;}
.footer_wrap .footer_inner .footer_link .f_link_list .f_link_item{display:block;}
.footer_wrap .footer_inner .footer_link .f_link_list .f_link_item .link{display:block;width:100%;}
.footer_wrap .footer_inner .footer_link .f_link_list .f_link_item .link span{font-weight:400;font-size:16px;line-height:30px;color:#4a5368;transition:color 0.3s;}
.footer_wrap .footer_inner .footer_link .f_link_list .f_link_item .link:hover span{color:#07287b;}
.footer_wrap .footer_inner .footer_info{margin-top:33px;font-weight:400;font-size:16px;line-height:22px;color:#fff;}
.footer_wrap .footer_inner .footer_info .address{display:block;font-family:'ONE','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;}
.footer_wrap .footer_inner .footer_info br{display:none;}
.footer_wrap .footer_inner .footer_info .tel_number{display:block;font-family:'Montserrat','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;}
.footer_wrap .footer_inner .footer_info .tel_number a{color:#fff;}
.footer_wrap .footer_inner .footer_info .tel_number a:hover{text-decoration:none;}
.footer_wrap .footer_inner .footer_info .copyright{margin-top:29px;font-family:'Montserrat','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;font-weight:400;font-size:16px;line-height:22px;color:#7e8db2;}
@media screen and (min-width:1001px){
    .footer_wrap .footer_inner .footer_info .tel_number a{pointer-events:none;}
}
@media screen and (min-width:1501px){
}
@media screen and (max-width:1500px){
    .footer_wrap{padding-right:3%;padding-left:3%;}
    .footer_wrap .footer_inner .footer_quick .quick_list .quick_item{display:inline-block;margin-right:20px;}
    .footer_wrap .footer_inner .footer_quick .quick_list .quick_item .link{font-size:15px;}
    .footer_wrap .footer_inner .footer_link .f_link_button .btn{width:200px;}
    .footer_wrap .footer_inner .footer_link .f_link_button .btn span{font-size:15px;}
    .footer_wrap .footer_inner .footer_link .f_link_list .f_link_item .link span{font-size:15px;}
    .footer_wrap .footer_inner .footer_info{font-size:15px;}
    .footer_wrap .footer_inner .footer_info .copyright{font-size:15px;}
}
@media screen and (max-width:1000px){
    .footer_wrap{padding-top:45px;padding-bottom:45px;border-radius:70px 70px 0 0;}
    .footer_wrap .footer_inner .footer_quick .quick_list{text-align:center;}
    .footer_wrap .footer_inner .footer_quick .quick_list .quick_item{margin-right:10px;margin-left:10px;}
    .footer_wrap .footer_inner .footer_quick .quick_list .quick_item:last-child{margin-right:10px;}
    .footer_wrap .footer_inner .footer_quick .quick_list .quick_item .link{font-size:14px;line-height:26px;}
    .footer_wrap .footer_inner .footer_link{position:relative;right:auto;top:auto;width:fit-content;margin:15px auto 0;}
    .footer_wrap .footer_inner .footer_link .f_link_button .btn{height:40px;border-radius:15px;border-color:rgba(255, 255, 255, 0.4);}
    .footer_wrap .footer_inner .footer_link .f_link_button .btn:before{width:15px;height:9px;background-image:url(../images/common/m_footer_arrow_icon.png);}
    .footer_wrap .footer_inner .footer_link .f_link_button .btn span{font-size:14px;line-height:20px;}
    .footer_wrap .footer_inner .footer_link .f_link_list{bottom:calc(100% + 5px);padding:10px 20px;}
    .footer_wrap .footer_inner .footer_link .f_link_list .f_link_item .link span{font-size:14px;line-height:26px;}
    .footer_wrap .footer_inner .footer_info{margin-top:15px;font-size:14px;line-height:20px;text-align:center;}
    .footer_wrap .footer_inner .footer_info .copyright{margin-top:10px;font-size:14px;line-height:16px;}
}
@media screen and (max-width:640px){
    .footer_wrap .footer_inner .footer_info br{display:block;}
}
/* ----- footer 끝 ----- */